# QIF Analyses (AOL experimental - Google Topics v1 Classification)

In [1]:
import numpy, pandas, qif
from bvmlib.bvm import BVM

## AOL experimental dataset with Google Topics Classification v1

In [2]:
%%time
aol_experimental_google_browsing_history = pandas.read_csv('AOL-experimental-Google-Topics-Classification-v1.csv', low_memory=False, on_bad_lines='warn', index_col=0)

CPU times: user 3.11 s, sys: 661 ms, total: 3.77 s
Wall time: 3.3 s

In [3]:
display(aol_experimental_google_browsing_history)

,RandID,BrowsingHistory,AllTopics,TopicsSet,sTopics
0,3,"[('amazon.com', Timestamp('2006-05-23 15:31:14...","[""'289'"", ""'179'"", ""'289'""]","[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]"
1,4,"[('microsoft.com', Timestamp('2006-03-29 22:32...","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'129'"", ...","[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]"
2,7,"[('wikipedia.org', Timestamp('2006-03-20 10:15...","[""'275'"", ""'100'"", ""'254'"", ""'275'"", ""'100'"", ...","[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]"
3,10,"[('wikipedia.org', Timestamp('2006-03-06 21:22...","[""'275'"", ""'275'"", ""'289'"", ""'289'"", ""'275'""]","[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]"
4,12,"[('priceline.com', Timestamp('2006-04-04 21:17...","[""'332'"", ""'344'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]"
...,...,...,...,...,...
230921,521685,"[('bbc.co.uk', Timestamp('2006-03-15 10:43:00'...","[""'243'"", ""'23'"", ""'289'"", ""'23'"", ""'289'"", ""'...","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]"
230922,521686,"[('google.com', Timestamp('2006-03-04 10:02:30...","[""'219'"", ""'219'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]"
230923,521687,"[('1001freefonts.com', Timestamp('2006-04-08 1...","[""'142'"", ""'142'""]","[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]"
230924,521689,"[('imdb.com', Timestamp('2006-03-29 00:35:14')...","[""'12'"", ""'45'"", ""'275'"", ""'219'"", ""'215'"", ""'...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]"
230925,521691,"[('imdb.com', Timestamp('2006-03-15 15:01:34')...","[""'12'"", ""'45'"", ""'12'"", ""'45'"", ""'12'"", ""'45'...","[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]"

## Experiment 6: Third-party cookies on AOL experimental dataset with Google Taxonomy Classification v1

### Privacy

In [4]:
temp = aol_experimental_google_browsing_history.copy()
temp['UID'] = temp['RandID']
temp = temp.drop(columns=['BrowsingHistory'], inplace=False)
display(temp, temp.nunique())

,RandID,AllTopics,TopicsSet,sTopics,UID
0,3,"[""'289'"", ""'179'"", ""'289'""]","[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]",3
1,4,"[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'129'"", ...","[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]",4
2,7,"[""'275'"", ""'100'"", ""'254'"", ""'275'"", ""'100'"", ...","[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]",7
3,10,"[""'275'"", ""'275'"", ""'289'"", ""'289'"", ""'275'""]","[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]",10
4,12,"[""'332'"", ""'344'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]",12
...,...,...,...,...,...
230921,521685,"[""'243'"", ""'23'"", ""'289'"", ""'23'"", ""'289'"", ""'...","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]",521685
230922,521686,"[""'219'"", ""'219'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]",521686
230923,521687,"[""'142'"", ""'142'""]","[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]",521687
230924,521689,"[""'12'"", ""'45'"", ""'275'"", ""'219'"", ""'215'"", ""'...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]",521689
230925,521691,"[""'12'"", ""'45'"", ""'12'"", ""'45'"", ""'12'"", ""'45'...","[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]",521691

RandID       230926
AllTopics    140322
TopicsSet     87889
sTopics      139057
UID          230926
dtype: int64

In [5]:
%%time
E6P = BVM(temp)
E6P.qids(['UID'])
E6P.sensitive(['RandID'])
results = E6P.assess()

CPU times: user 3.57 s, sys: 0 ns, total: 3.57 s
Wall time: 3.58 s

In [6]:
display(results['re_id'], results['att_inf'])

,QID,dCR,pCR,Prior,Posterior,Histogram
0,['UID'],1.0,230926,0.000004,1.0,"{'0': 0.0, '1': 0.0, '2': 0.0, '3': 0.0, '4': ..."

,QID,Sensitive,dCA,pCA,Prior,Posterior,Histogram
0,['UID'],RandID,0.0,230926.0,0.000004,1.0,"{'0': 0.0, '1': 0.0, '2': 0.0, '3': 0.0, '4': ..."

In [7]:
display(results['re_id']['Prior'][0], results['att_inf']['Prior'][0])

4.330391554004313e-06

4.330391554004313e-06

In [8]:
display(results['re_id']['Posterior'][0], results['att_inf']['Posterior'][0])

1.0

1.0

In [9]:
display(results['re_id']['Posterior'][0]/results['re_id']['Prior'][0], results['att_inf']['Posterior'][0]/results['att_inf']['Prior'][0])

230926.0

230926.0

### Utility

In [10]:
temp = aol_experimental_google_browsing_history.copy()
temp = temp.rename(columns={'RandID':'UID'}, inplace=False)
display(temp, temp.nunique())

,UID,BrowsingHistory,AllTopics,TopicsSet,sTopics
0,3,"[('amazon.com', Timestamp('2006-05-23 15:31:14...","[""'289'"", ""'179'"", ""'289'""]","[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]"
1,4,"[('microsoft.com', Timestamp('2006-03-29 22:32...","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'129'"", ...","[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]"
2,7,"[('wikipedia.org', Timestamp('2006-03-20 10:15...","[""'275'"", ""'100'"", ""'254'"", ""'275'"", ""'100'"", ...","[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]"
3,10,"[('wikipedia.org', Timestamp('2006-03-06 21:22...","[""'275'"", ""'275'"", ""'289'"", ""'289'"", ""'275'""]","[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]"
4,12,"[('priceline.com', Timestamp('2006-04-04 21:17...","[""'332'"", ""'344'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]"
...,...,...,...,...,...
230921,521685,"[('bbc.co.uk', Timestamp('2006-03-15 10:43:00'...","[""'243'"", ""'23'"", ""'289'"", ""'23'"", ""'289'"", ""'...","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]"
230922,521686,"[('google.com', Timestamp('2006-03-04 10:02:30...","[""'219'"", ""'219'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]"
230923,521687,"[('1001freefonts.com', Timestamp('2006-04-08 1...","[""'142'"", ""'142'""]","[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]"
230924,521689,"[('imdb.com', Timestamp('2006-03-29 00:35:14')...","[""'12'"", ""'45'"", ""'275'"", ""'219'"", ""'215'"", ""'...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]"
230925,521691,"[('imdb.com', Timestamp('2006-03-15 15:01:34')...","[""'12'"", ""'45'"", ""'12'"", ""'45'"", ""'12'"", ""'45'...","[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]"

UID                230926
BrowsingHistory    230926
AllTopics          140322
TopicsSet           87889
sTopics            139057
dtype: int64

In [11]:
%%time
E6U = BVM(temp)
E6U.qids(['UID'])
E6U.sensitive(['BrowsingHistory'])
results = E6U.assess()

CPU times: user 4.82 s, sys: 330 µs, total: 4.82 s
Wall time: 4.85 s

In [12]:
display(results['re_id'], results['att_inf'])

,QID,dCR,pCR,Prior,Posterior,Histogram
0,['UID'],1.0,230926,0.000004,1.0,"{'0': 0.0, '1': 0.0, '2': 0.0, '3': 0.0, '4': ..."

,QID,Sensitive,dCA,pCA,Prior,Posterior,Histogram
0,['UID'],BrowsingHistory,0.0,230926.0,0.000004,1.0,"{'0': 0.0, '1': 0.0, '2': 0.0, '3': 0.0, '4': ..."

In [13]:
display(results['re_id']['Prior'][0], results['att_inf']['Prior'][0])

4.330391554004313e-06

4.330391554004313e-06

In [14]:
display(results['re_id']['Posterior'][0], results['att_inf']['Posterior'][0])

1.0

1.0

In [15]:
display(results['re_id']['Posterior'][0]/results['re_id']['Prior'][0], results['att_inf']['Posterior'][0]/results['att_inf']['Prior'][0])

230926.0

230926.0

## Experiment 7: Topics with Generalization on AOL experimental dataset with Google Taxonomy Classification v1

In [16]:
aol_experimental_google_generalization = aol_experimental_google_browsing_history

In [17]:
display(aol_experimental_google_generalization)

,RandID,BrowsingHistory,AllTopics,TopicsSet,sTopics
0,3,"[('amazon.com', Timestamp('2006-05-23 15:31:14...","[""'289'"", ""'179'"", ""'289'""]","[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]"
1,4,"[('microsoft.com', Timestamp('2006-03-29 22:32...","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'129'"", ...","[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]"
2,7,"[('wikipedia.org', Timestamp('2006-03-20 10:15...","[""'275'"", ""'100'"", ""'254'"", ""'275'"", ""'100'"", ...","[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]"
3,10,"[('wikipedia.org', Timestamp('2006-03-06 21:22...","[""'275'"", ""'275'"", ""'289'"", ""'289'"", ""'275'""]","[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]"
4,12,"[('priceline.com', Timestamp('2006-04-04 21:17...","[""'332'"", ""'344'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]"
...,...,...,...,...,...
230921,521685,"[('bbc.co.uk', Timestamp('2006-03-15 10:43:00'...","[""'243'"", ""'23'"", ""'289'"", ""'23'"", ""'289'"", ""'...","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]"
230922,521686,"[('google.com', Timestamp('2006-03-04 10:02:30...","[""'219'"", ""'219'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]"
230923,521687,"[('1001freefonts.com', Timestamp('2006-04-08 1...","[""'142'"", ""'142'""]","[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]"
230924,521689,"[('imdb.com', Timestamp('2006-03-29 00:35:14')...","[""'12'"", ""'45'"", ""'275'"", ""'219'"", ""'215'"", ""'...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]"
230925,521691,"[('imdb.com', Timestamp('2006-03-15 15:01:34')...","[""'12'"", ""'45'"", ""'12'"", ""'45'"", ""'12'"", ""'45'...","[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]"

### Privacy

In [18]:
temp = aol_experimental_google_generalization.copy()
temp = temp.drop(columns=['BrowsingHistory','AllTopics'], inplace=False)
display(temp)

,RandID,TopicsSet,sTopics
0,3,"[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]"
1,4,"[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]"
2,7,"[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]"
3,10,"[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]"
4,12,"[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]"
...,...,...,...
230921,521685,"[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]"
230922,521686,"[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]"
230923,521687,"[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]"
230924,521689,"[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]"
230925,521691,"[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]"

In [19]:
%%time
E7P = BVM(temp)
E7P.qids(['sTopics'])
E7P.sensitive(['RandID'])
results = E7P.assess()

CPU times: user 3.08 s, sys: 867 µs, total: 3.08 s
Wall time: 3.09 s

In [20]:
display(results['re_id'], results['att_inf'])

,QID,dCR,pCR,Prior,Posterior,Histogram
0,['sTopics'],0.537306,139057,0.000004,0.602171,"{'0': 0.08487134406693053, '1': 0.059443284861..."

,QID,Sensitive,dCA,pCA,Prior,Posterior,Histogram
0,['sTopics'],RandID,0.537306,139057.0,0.000004,0.602171,"{'0': 0.08487134406693053, '1': 0.059443284861..."

In [21]:
display(results['re_id']['Prior'][0], results['att_inf']['Prior'][0])

4.330391554004313e-06

4.330391554004313e-06

In [22]:
display(results['re_id']['Posterior'][0], results['att_inf']['Posterior'][0])

0.6021712583251778

0.6021712583251778

In [23]:
display(results['re_id']['Posterior'][0]/results['re_id']['Prior'][0], results['att_inf']['Posterior'][0]/results['att_inf']['Prior'][0])

139057.00000000003

139057.00000000003

### Utility

In [24]:
temp = aol_experimental_google_generalization.copy()
temp = temp.drop(columns=['RandID','AllTopics'], inplace=False)
display(temp)

,BrowsingHistory,TopicsSet,sTopics
0,"[('amazon.com', Timestamp('2006-05-23 15:31:14...","[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]"
1,"[('microsoft.com', Timestamp('2006-03-29 22:32...","[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]"
2,"[('wikipedia.org', Timestamp('2006-03-20 10:15...","[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]"
3,"[('wikipedia.org', Timestamp('2006-03-06 21:22...","[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]"
4,"[('priceline.com', Timestamp('2006-04-04 21:17...","[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]"
...,...,...,...
230921,"[('bbc.co.uk', Timestamp('2006-03-15 10:43:00'...","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]"
230922,"[('google.com', Timestamp('2006-03-04 10:02:30...","[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]"
230923,"[('1001freefonts.com', Timestamp('2006-04-08 1...","[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]"
230924,"[('imdb.com', Timestamp('2006-03-29 00:35:14')...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]"
230925,"[('imdb.com', Timestamp('2006-03-15 15:01:34')...","[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]"

In [25]:
%%time
E7U = BVM(temp)
E7U.qids(['sTopics'])
E7U.sensitive(['BrowsingHistory'])
results = E7U.assess()

CPU times: user 4.2 s, sys: 20.2 ms, total: 4.22 s
Wall time: 4.23 s

In [26]:
display(results['re_id'], results['att_inf'])

,QID,dCR,pCR,Prior,Posterior,Histogram
0,['sTopics'],0.537306,139057,0.000004,0.602171,"{'0': 0.08487134406693053, '1': 0.059443284861..."

,QID,Sensitive,dCA,pCA,Prior,Posterior,Histogram
0,['sTopics'],BrowsingHistory,0.537306,139057.0,0.000004,0.602171,"{'0': 0.08487134406693053, '1': 0.059443284861..."

In [27]:
display(results['re_id']['Prior'][0], results['att_inf']['Prior'][0])

4.330391554004313e-06

4.330391554004313e-06

In [28]:
display(results['re_id']['Posterior'][0], results['att_inf']['Posterior'][0])

0.6021712583251778

0.6021712583251778

In [29]:
display(results['re_id']['Posterior'][0]/results['re_id']['Prior'][0], results['att_inf']['Posterior'][0]/results['att_inf']['Prior'][0])

139057.00000000003

139057.00000000003

### Unique sets

In [30]:
%%time
for row in aol_experimental_google_generalization.itertuples():
    aol_experimental_google_generalization.at[row.Index, 'sTopics'] = str(aol_experimental_google_generalization.at[row.Index, 'sTopics'])

CPU times: user 31 s, sys: 44.3 ms, total: 31 s
Wall time: 31 s

In [31]:
%%time
display(aol_experimental_google_generalization['sTopics'].nunique())

139057

CPU times: user 99.1 ms, sys: 63 µs, total: 99.2 ms
Wall time: 106 ms

## Experiments 8 and 9: Topics with Generalization and Bounded Noise on AOL experimental dataset with Google Taxonomy Classification v1; and Topics with Generalization, Bounded Noise, and Differential Privacy on AOL experimental dataset with Google Taxonomy Classification v1

In [32]:
display(aol_experimental_google_generalization)

,RandID,BrowsingHistory,AllTopics,TopicsSet,sTopics
0,3,"[('amazon.com', Timestamp('2006-05-23 15:31:14...","[""'289'"", ""'179'"", ""'289'""]","[""'179'"", ""'289'""]","[""'179'"", ""'247'"", ""'248'"", ""'289'"", ""'3'""]"
1,4,"[('microsoft.com', Timestamp('2006-03-29 22:32...","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'129'"", ...","[""'129'"", ""'140'"", ""'145'"", ""'275'""]","[""'129'"", ""'140'"", ""'145'"", ""'275'"", ""'58'""]"
2,7,"[('wikipedia.org', Timestamp('2006-03-20 10:15...","[""'275'"", ""'100'"", ""'254'"", ""'275'"", ""'100'"", ...","[""'100'"", ""'254'"", ""'275'""]","[""'100'"", ""'234'"", ""'254'"", ""'275'"", ""'322'""]"
3,10,"[('wikipedia.org', Timestamp('2006-03-06 21:22...","[""'275'"", ""'275'"", ""'289'"", ""'289'"", ""'275'""]","[""'275'"", ""'289'""]","[""'151'"", ""'172'"", ""'275'"", ""'289'"", ""'344'""]"
4,12,"[('priceline.com', Timestamp('2006-04-04 21:17...","[""'332'"", ""'344'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'248'"", ""'332'"", ""'344'""]","[""'219'"", ""'234'"", ""'248'"", ""'332'"", ""'344'""]"
...,...,...,...,...,...
230921,521685,"[('bbc.co.uk', Timestamp('2006-03-15 10:43:00'...","[""'243'"", ""'23'"", ""'289'"", ""'23'"", ""'289'"", ""'...","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]","[""'129'"", ""'183'"", ""'23'"", ""'243'"", ""'289'""]"
230922,521686,"[('google.com', Timestamp('2006-03-04 10:02:30...","[""'219'"", ""'219'"", ""'219'"", ""'219'"", ""'219'"", ...","[""'219'"", ""'275'""]","[""'108'"", ""'219'"", ""'275'"", ""'279'"", ""'292'""]"
230923,521687,"[('1001freefonts.com', Timestamp('2006-04-08 1...","[""'142'"", ""'142'""]","[""'142'""]","[""'142'"", ""'166'"", ""'241'"", ""'299'"", ""'315'""]"
230924,521689,"[('imdb.com', Timestamp('2006-03-29 00:35:14')...","[""'12'"", ""'45'"", ""'275'"", ""'219'"", ""'215'"", ""'...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'275'"", ""...","[""'12'"", ""'215'"", ""'217'"", ""'219'"", ""'45'""]"
230925,521691,"[('imdb.com', Timestamp('2006-03-15 15:01:34')...","[""'12'"", ""'45'"", ""'12'"", ""'45'"", ""'12'"", ""'45'...","[""'1'"", ""'100'"", ""'103'"", ""'12'"", ""'129'"", ""'1...","[""'1'"", ""'23'"", ""'243'"", ""'275'"", ""'289'""]"

In [33]:
%%time
aol_experimental_google_seen_topics = []
for tup in aol_experimental_google_generalization.itertuples():
    aol_experimental_google_seen_topics.extend(tup.AllTopics.replace('[','').replace(']','').replace(' ','').replace('\'','').replace('"','').split(','))
aol_experimental_google_seen_topics = list(set(aol_experimental_google_seen_topics))
display(len(aol_experimental_google_seen_topics))

169

CPU times: user 2.46 s, sys: 245 ms, total: 2.7 s
Wall time: 2.72 s

### Privacy

In [34]:
temp_top_S = {tup.Index : {t : 1 for t in tup.sTopics.replace('[','').replace(']','').replace(' ','').replace('\'','').replace('"','').split(',')} for tup in aol_experimental_google_generalization.itertuples()}

In [35]:
%%time
S = 5
M = len(aol_experimental_google_seen_topics)
R = 0.05

aol_experimental_google_channel_bn = pandas.DataFrame(data=temp_top_S).T.applymap(lambda x: 1/S, na_action='ignore').fillna(0)
aol_experimental_google_channel_bn = aol_experimental_google_channel_bn[sorted(aol_experimental_google_channel_bn.columns.to_list())]
aol_experimental_google_channel_bn = aol_experimental_google_channel_bn.sort_index()

aol_experimental_google_unseen_topics = []
for i in range(1,350):
    if str(i) not in aol_experimental_google_seen_topics:
        aol_experimental_google_unseen_topics.append(str(i))
aol_experimental_google_all_topics = aol_experimental_google_seen_topics + aol_experimental_google_unseen_topics

M = len(aol_experimental_google_all_topics)

aol_experimental_google_channel_bn_dp = pandas.DataFrame(data=temp_top_S).T.applymap(lambda x: ((1-R)/S) + (R/M), na_action='ignore').fillna(R/M)
aol_experimental_google_channel_bn_dp = pandas.concat(axis=1, objs=[aol_experimental_google_channel_bn_dp, pandas.DataFrame(columns=aol_experimental_google_unseen_topics,index=aol_experimental_google_channel_bn_dp.index).fillna(R/M)])
aol_experimental_google_channel_bn_dp = aol_experimental_google_channel_bn_dp[sorted(aol_experimental_google_channel_bn_dp.columns.to_list())]
aol_experimental_google_channel_bn_dp = aol_experimental_google_channel_bn_dp.sort_index()

CPU times: user 1min 23s, sys: 4.99 s, total: 1min 28s
Wall time: 1min 26s

In [36]:
display(aol_experimental_google_channel_bn.cumsum(axis=1))
display(aol_experimental_google_channel_bn_dp.cumsum(axis=1))

,1,100,102,103,104,108,109,11,112,114,...,82,83,84,86,88,92,94,96,97,99
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
230922,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
230923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
230924,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
230925,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

,1,10,100,101,102,103,104,105,106,107,...,90,91,92,93,94,95,96,97,98,99
0,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
1,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
2,0.000143,0.000287,0.19043,0.190573,0.190716,0.19086,0.191003,0.191146,0.191289,0.191433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
3,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
4,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230921,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
230922,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
230923,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
230924,0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
230925,0.190143,0.190287,0.19043,0.190573,0.190716,0.19086,0.191003,0.191146,0.191289,0.191433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0

In [37]:
%%time
N = len(aol_experimental_google_channel_bn.index)
aol_experimental_google_bn_dp_prior = numpy.array([1/N for row in range(N)])

CPU times: user 51.5 ms, sys: 8.02 ms, total: 59.6 ms
Wall time: 64.1 ms

In [38]:
%%time
display("Prior: " + str(qif.measure.bayes_vuln.prior(aol_experimental_google_bn_dp_prior)))
display("BN Posterior: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_bn_dp_prior, aol_experimental_google_channel_bn.to_numpy())))
display("DP Posterior: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_bn_dp_prior, aol_experimental_google_channel_bn_dp.to_numpy())))

'Prior: 4.330391554004313e-06'

'BN Posterior: 0.00014636723452534552'

'DP Posterior: 0.00013926539237677857'

CPU times: user 168 ms, sys: 337 µs, total: 169 ms
Wall time: 198 ms

In [39]:
%%time
display("BN Leakage: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_bn_dp_prior, aol_experimental_google_channel_bn.to_numpy())/qif.measure.bayes_vuln.prior(aol_experimental_google_bn_dp_prior)))
display("DP Leakage: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_bn_dp_prior, aol_experimental_google_channel_bn_dp.to_numpy())/qif.measure.bayes_vuln.prior(aol_experimental_google_bn_dp_prior)))

'BN Leakage: 33.79999999999994'

'DP Leakage: 32.15999999999997'

CPU times: user 165 ms, sys: 199 µs, total: 166 ms
Wall time: 181 ms

### Utility

In [40]:
%%time
aol_experimental_google_top_S = []
for k,v in temp_top_S.items():
    temp = str(list(v.keys()))
    temp = temp.replace("\'","")
    aol_experimental_google_top_S.append(temp)

aol_experimental_google_top_S_count = 0
aol_experimental_google_top_S_counts = dict()
for case in aol_experimental_google_top_S:
    if case in aol_experimental_google_top_S_counts:
        aol_experimental_google_top_S_counts[case] = aol_experimental_google_top_S_counts[case] + 1
    else:
        aol_experimental_google_top_S_counts[case] = 1
    aol_experimental_google_top_S_count += 1

aol_experimental_google_top_S_prior = aol_experimental_google_top_S_counts
for case in aol_experimental_google_top_S_prior:
    aol_experimental_google_top_S_prior[case] = aol_experimental_google_top_S_prior[case] / aol_experimental_google_top_S_count

d = {'topics' : [], 'prior' : []}
for k,v in aol_experimental_google_top_S_prior.items():
    d['topics'].append(k)
    d['prior'].append(v)
aol_experimental_google_top_S_prior = pandas.DataFrame(data=d)
aol_experimental_google_top_S_prior = aol_experimental_google_top_S_prior.set_index('topics').sort_index()

CPU times: user 1.51 s, sys: 23.9 ms, total: 1.54 s
Wall time: 1.55 s

In [41]:
display(aol_experimental_google_top_S_prior)

                            prior
topics
[1, 100, 102, 215, 243]  0.000017
[1, 100, 102, 219, 243]  0.000004
[1, 100, 102, 239, 243]  0.000004
[1, 100, 103, 12, 243]   0.000009
[1, 100, 103, 12, 278]   0.000004
...                           ...
[57, 62, 81, 83, 88]     0.000004
[57, 62, 81, 83, 99]     0.000004
[57, 62, 82, 83, 97]     0.000004
[57, 62, 83, 84, 97]     0.000004
[57, 62, 83, 88, 92]     0.000004

[139057 rows x 1 columns]

In [42]:
%%time
S = 5
M = len(aol_experimental_google_seen_topics)
R = 0.05

aol_experimental_google_channel_bn = pandas.DataFrame(columns=[c for c in aol_experimental_google_seen_topics], index=d['topics'])
for tup in aol_experimental_google_channel_bn.itertuples():
    temp = tup.Index.replace('[','').replace(']','').split(', ')
    for col in aol_experimental_google_channel_bn.columns:
        aol_experimental_google_channel_bn.at[tup.Index, col] = 1/S if col in temp else 0

aol_experimental_google_channel_bn = aol_experimental_google_channel_bn[sorted(aol_experimental_google_channel_bn.columns.to_list())]
aol_experimental_google_channel_bn = aol_experimental_google_channel_bn.sort_index()

CPU times: user 18min 35s, sys: 317 ms, total: 18min 35s
Wall time: 18min 36s

In [43]:
%%time
M = len(aol_experimental_google_all_topics)

aol_experimental_google_channel_bn_dp = pandas.DataFrame(columns=[c for c in aol_experimental_google_all_topics], index=d['topics'])
for tup in aol_experimental_google_channel_bn_dp.itertuples():
    temp = tup.Index.replace('[','').replace(']','').split(', ')
    for col in aol_experimental_google_channel_bn_dp.columns:
        aol_experimental_google_channel_bn_dp.at[tup.Index, col] = ((1-R)/S) + (R/M) if col in temp else (R/M)

aol_experimental_google_channel_bn_dp = aol_experimental_google_channel_bn_dp[sorted(aol_experimental_google_channel_bn_dp.columns.to_list())]
aol_experimental_google_channel_bn_dp = aol_experimental_google_channel_bn_dp.sort_index()

CPU times: user 39min 23s, sys: 4.17 s, total: 39min 27s
Wall time: 39min 28s

In [44]:
display(aol_experimental_google_channel_bn.cumsum(axis=1))
display(aol_experimental_google_channel_bn_dp.cumsum(axis=1))

,1,100,102,103,104,108,109,11,112,114,...,82,83,84,86,88,92,94,96,97,99
"[1, 100, 102, 215, 243]",0.2,0.4,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"[1, 100, 102, 219, 243]",0.2,0.4,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"[1, 100, 102, 239, 243]",0.2,0.4,0.6,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"[1, 100, 103, 12, 243]",0.2,0.4,0.4,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"[1, 100, 103, 12, 278]",0.2,0.4,0.4,0.6,0.6,0.6,0.6,0.6,0.6,0.6,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"[57, 62, 81, 83, 88]",0,0,0,0,0,0,0,0,0,0,...,0.6,0.8,0.8,0.8,1.0,1.0,1.0,1.0,1.0,1.0
"[57, 62, 81, 83, 99]",0,0,0,0,0,0,0,0,0,0,...,0.6,0.8,0.8,0.8,0.8,0.8,0.8,0.8,0.8,1.0
"[57, 62, 82, 83, 97]",0,0,0,0,0,0,0,0,0,0,...,0.6,0.8,0.8,0.8,0.8,0.8,0.8,0.8,1.0,1.0
"[57, 62, 83, 84, 97]",0,0,0,0,0,0,0,0,0,0,...,0.4,0.6,0.8,0.8,0.8,0.8,0.8,0.8,1.0,1.0
"[57, 62, 83, 88, 92]",0,0,0,0,0,0,0,0,0,0,...,0.4,0.6,0.6,0.6,0.8,1.0,1.0,1.0,1.0,1.0

,1,10,100,101,102,103,104,105,106,107,...,90,91,92,93,94,95,96,97,98,99
"[1, 100, 102, 215, 243]",0.190143,0.190287,0.38043,0.380573,0.570716,0.57086,0.571003,0.571146,0.571289,0.571433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
"[1, 100, 102, 219, 243]",0.190143,0.190287,0.38043,0.380573,0.570716,0.57086,0.571003,0.571146,0.571289,0.571433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
"[1, 100, 102, 239, 243]",0.190143,0.190287,0.38043,0.380573,0.570716,0.57086,0.571003,0.571146,0.571289,0.571433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
"[1, 100, 103, 12, 243]",0.190143,0.190287,0.38043,0.380573,0.380716,0.57086,0.571003,0.571146,0.571289,0.571433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
"[1, 100, 103, 12, 278]",0.190143,0.190287,0.38043,0.380573,0.380716,0.57086,0.571003,0.571146,0.571289,0.571433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"[57, 62, 81, 83, 88]",0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.998711,0.998854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0
"[57, 62, 81, 83, 99]",0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.808711,0.808854,0.808997,0.80914,0.809284,0.809427,0.80957,0.809713,0.809857,1.0
"[57, 62, 82, 83, 97]",0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.808711,0.808854,0.808997,0.80914,0.809284,0.809427,0.80957,0.999713,0.999857,1.0
"[57, 62, 83, 84, 97]",0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.808711,0.808854,0.808997,0.80914,0.809284,0.809427,0.80957,0.999713,0.999857,1.0
"[57, 62, 83, 88, 92]",0.000143,0.000287,0.00043,0.000573,0.000716,0.00086,0.001003,0.001146,0.001289,0.001433,...,0.808711,0.808854,0.998997,0.99914,0.999284,0.999427,0.99957,0.999713,0.999857,1.0

In [45]:
%%time
display("Prior: " + str(qif.measure.bayes_vuln.prior(aol_experimental_google_top_S_prior['prior'].to_numpy())))
display("BN Posterior: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn.to_numpy())))
display("DP Posterior: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn_dp.to_numpy())))

'Prior: 0.012523492374180474'

'BN Posterior: 0.0273178420792808'

'DP Posterior: 0.026294474020839453'

CPU times: user 13.5 s, sys: 220 ms, total: 13.7 s
Wall time: 13.6 s

In [46]:
%%time
display("BN Leakage: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn.to_numpy())/qif.measure.bayes_vuln.prior(aol_experimental_google_top_S_prior['prior'].to_numpy())))
display("DP Leakage: " + str(qif.measure.bayes_vuln.posterior(aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn_dp.to_numpy())/qif.measure.bayes_vuln.prior(aol_experimental_google_top_S_prior['prior'].to_numpy())))

'BN Leakage: 2.181327800829875'

'DP Leakage: 2.0996119321356748'

CPU times: user 13.4 s, sys: 272 ms, total: 13.7 s
Wall time: 13.6 s

#### Bayes over uniform prior

In [47]:
N = len(aol_experimental_google_channel_bn.index)

In [48]:
%%time
display("BN Leakage: " + str(qif.measure.bayes_vuln.posterior(numpy.array([1/N for row in range(N)]), aol_experimental_google_channel_bn.to_numpy())/qif.measure.bayes_vuln.prior(numpy.array([1/N for row in range(N)]))))
display("DP Leakage: " + str(qif.measure.bayes_vuln.posterior(numpy.array([1/N for row in range(N)]), aol_experimental_google_channel_bn_dp.to_numpy())/qif.measure.bayes_vuln.prior(numpy.array([1/N for row in range(N)]))))

'BN Leakage: 33.79999999999994'

'DP Leakage: 32.15999999999997'

CPU times: user 13.4 s, sys: 116 ms, total: 13.6 s
Wall time: 13.6 s

#### IBA gain

In [49]:
%%time
G_IBA_bn = pandas.DataFrame(columns=[c for c in aol_experimental_google_seen_topics], index=d['topics'])
for tup in G_IBA_bn.itertuples():
    temp = tup.Index.replace('[','').replace(']','').split(', ')
    for col in G_IBA_bn.columns:
        G_IBA_bn.at[tup.Index, col] = 1 if col in temp else 0
G_IBA_bn = G_IBA_bn[sorted(G_IBA_bn.columns.to_list())]
G_IBA_bn = G_IBA_bn.sort_index()
display(G_IBA_bn.T)

,"[1, 100, 102, 215, 243]","[1, 100, 102, 219, 243]","[1, 100, 102, 239, 243]","[1, 100, 103, 12, 243]","[1, 100, 103, 12, 278]","[1, 100, 103, 12, 45]","[1, 100, 103, 126, 289]","[1, 100, 103, 173, 243]","[1, 100, 103, 183, 83]","[1, 100, 103, 186, 289]",...,"[43, 57, 62, 83, 86]","[48, 57, 62, 82, 83]","[56, 57, 62, 83, 96]","[57, 6, 62, 83, 84]","[57, 62, 81, 82, 83]","[57, 62, 81, 83, 88]","[57, 62, 81, 83, 99]","[57, 62, 82, 83, 97]","[57, 62, 83, 84, 97]","[57, 62, 83, 88, 92]"
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
100,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
102,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,0,0,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
94,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

CPU times: user 18min 40s, sys: 283 ms, total: 18min 41s
Wall time: 18min 41s

In [50]:
%%time
G_IBA_bn_dp = pandas.DataFrame(columns=[c for c in aol_experimental_google_all_topics], index=d['topics'])
for tup in G_IBA_bn_dp.itertuples():
    temp = tup.Index.replace('[','').replace(']','').split(', ')
    for col in G_IBA_bn_dp.columns:
        G_IBA_bn_dp.at[tup.Index, col] = 1 if col in temp else 0
G_IBA_bn_dp = G_IBA_bn_dp[sorted(G_IBA_bn_dp.columns.to_list())]
G_IBA_bn_dp = G_IBA_bn_dp.sort_index()
display(G_IBA_bn_dp.T)

,"[1, 100, 102, 215, 243]","[1, 100, 102, 219, 243]","[1, 100, 102, 239, 243]","[1, 100, 103, 12, 243]","[1, 100, 103, 12, 278]","[1, 100, 103, 12, 45]","[1, 100, 103, 126, 289]","[1, 100, 103, 173, 243]","[1, 100, 103, 183, 83]","[1, 100, 103, 186, 289]",...,"[43, 57, 62, 83, 86]","[48, 57, 62, 82, 83]","[56, 57, 62, 83, 96]","[57, 6, 62, 83, 84]","[57, 62, 81, 82, 83]","[57, 62, 81, 83, 88]","[57, 62, 81, 83, 99]","[57, 62, 82, 83, 97]","[57, 62, 83, 84, 97]","[57, 62, 83, 88, 92]"
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

CPU times: user 38min 30s, sys: 722 ms, total: 38min 31s
Wall time: 38min 32s

In [51]:
%%time
display("BN Prior: " + str(qif.measure.g_vuln.prior(G_IBA_bn.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy())))
display("BN Posterior: " + str(qif.measure.g_vuln.posterior(G_IBA_bn.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn.to_numpy())))

'BN Prior: 0.4193637788730786'

'BN Posterior: 0.9999999999999997'

CPU times: user 15.3 s, sys: 3.69 s, total: 19 s
Wall time: 14 s

In [52]:
%%time
display("BN Leakage: " + str(qif.measure.g_vuln.posterior(G_IBA_bn.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn.to_numpy())/qif.measure.g_vuln.prior(G_IBA_bn.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy())))

'BN Leakage: 2.384564548438629'

CPU times: user 15.3 s, sys: 4.42 s, total: 19.7 s
Wall time: 14.2 s

In [53]:
%%time
display("DP Prior: " + str(qif.measure.g_vuln.prior(G_IBA_bn_dp.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy())))
display("DP Posterior: " + str(qif.measure.g_vuln.posterior(G_IBA_bn_dp.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn_dp.to_numpy())))

'DP Prior: 0.4193637788730786'

'DP Posterior: 0.9615308710884112'

CPU times: user 31.1 s, sys: 8.17 s, total: 39.3 s
Wall time: 27.7 s

In [54]:
%%time
display("DP Leakage: " + str(qif.measure.g_vuln.posterior(G_IBA_bn_dp.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy(), aol_experimental_google_channel_bn_dp.to_numpy())/qif.measure.g_vuln.prior(G_IBA_bn_dp.T.to_numpy(dtype=numpy.int32), aol_experimental_google_top_S_prior['prior'].to_numpy())))

'DP Leakage: 2.2928324274267395'

CPU times: user 31.3 s, sys: 8.15 s, total: 39.5 s
Wall time: 27.8 s