# AOL Experimental Dataset

In [1]:
import pandas
from collections import Counter

## AOL treated dataset

In [2]:
%%time
# Loads AOL-treated dataset into data DataFrame.
aol_treated = pandas.read_csv('AOL-treated.csv', low_memory=False, on_bad_lines='warn', index_col=0)

CPU times: user 23.8 s, sys: 1.93 s, total: 25.8 s
Wall time: 25.6 s

In [3]:
%%time
aol_treated['QueryTime'] = pandas.to_datetime(aol_treated['QueryTime'])

CPU times: user 22.9 s, sys: 352 ms, total: 23.3 s
Wall time: 23.1 s

In [4]:
display(aol_treated)

          RandID           QueryTime               Domain
0              0 2006-05-13 00:12:16           edzapp.com
1              0 2006-05-13 00:15:28  riverdale.k12.or.us
2              0 2006-05-13 00:15:28  riverdale.k12.or.us
3              0 2006-05-13 00:22:39    salkeiz.k12.or.us
4              0 2006-05-13 00:22:39     greatschools.net
...          ...                 ...                  ...
19426288  521691 2006-03-07 21:42:51              ups.com
19426289  521691 2006-03-15 19:24:17           google.com
19426290  521691 2006-04-01 18:45:41           google.com
19426291  521691 2006-04-02 01:33:52       supercross.com
19426292  521691 2006-05-15 00:03:49         976-tuna.com

[19426293 rows x 3 columns]

### Drop singletons

In [5]:
%%time
# Lists rows for RandID individuals with only one domain in their browsing history, to be dropped.
temp = aol_treated[['RandID','Domain']].groupby(['RandID']).nunique()
singletons = temp[temp['Domain'] == 1].index.to_list()
print(len(singletons))

85601
CPU times: user 13.6 s, sys: 491 ms, total: 14.1 s
Wall time: 14.1 s

In [6]:
aol_treated = aol_treated[~aol_treated.RandID.isin(singletons)]

In [7]:
aol_treated = aol_treated.reset_index(drop=True)

In [8]:
display(aol_treated)

          RandID           QueryTime               Domain
0              0 2006-05-13 00:12:16           edzapp.com
1              0 2006-05-13 00:15:28  riverdale.k12.or.us
2              0 2006-05-13 00:15:28  riverdale.k12.or.us
3              0 2006-05-13 00:22:39    salkeiz.k12.or.us
4              0 2006-05-13 00:22:39     greatschools.net
...          ...                 ...                  ...
19305776  521691 2006-03-07 21:42:51              ups.com
19305777  521691 2006-03-15 19:24:17           google.com
19305778  521691 2006-04-01 18:45:41           google.com
19305779  521691 2006-04-02 01:33:52       supercross.com
19305780  521691 2006-05-15 00:03:49         976-tuna.com

[19305781 rows x 3 columns]

### Drop outlier

In [9]:
%%time
# One individual has too many domains in their browsing history and is most probably a bot, to be dropped.
display(aol_treated['RandID'].value_counts())

RandID
463921    150802
362554      6227
304342      5741
501741      4272
342660      3775
           ...
54859          2
418762         2
288640         2
483619         2
360861         2
Name: count, Length: 436006, dtype: int64

CPU times: user 227 ms, sys: 132 ms, total: 360 ms
Wall time: 357 ms

In [10]:
aol_treated = aol_treated.drop(aol_treated[aol_treated['RandID'] == 463921].index.to_list())

In [11]:
aol_treated = aol_treated.reset_index(drop=True)

In [12]:
display(aol_treated)

          RandID           QueryTime               Domain
0              0 2006-05-13 00:12:16           edzapp.com
1              0 2006-05-13 00:15:28  riverdale.k12.or.us
2              0 2006-05-13 00:15:28  riverdale.k12.or.us
3              0 2006-05-13 00:22:39    salkeiz.k12.or.us
4              0 2006-05-13 00:22:39     greatschools.net
...          ...                 ...                  ...
19154974  521691 2006-03-07 21:42:51              ups.com
19154975  521691 2006-03-15 19:24:17           google.com
19154976  521691 2006-04-01 18:45:41           google.com
19154977  521691 2006-04-02 01:33:52       supercross.com
19154978  521691 2006-05-15 00:03:49         976-tuna.com

[19154979 rows x 3 columns]

### Statistics

In [13]:
%%time
aol_treated.info(verbose=True, memory_usage='deep', show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19154979 entries, 0 to 19154978
Data columns (total 3 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   RandID     19154979 non-null  int64
 1   QueryTime  19154979 non-null  datetime64[ns]
 2   Domain     19154979 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.5 GB
CPU times: user 5.98 s, sys: 40 ms, total: 6.02 s
Wall time: 5.97 s

Number of unique values per attribute.

In [14]:
display(aol_treated.nunique(dropna=False))

RandID        436005
QueryTime    5431718
Domain       1291534
dtype: int64

`RandID` statistics.

In [15]:
display(aol_treated['RandID'].value_counts().describe([.25,.50,.75,.80,.85,.90,.95,.96,.97,.98,.99]))

count    436005.000000
mean         43.932934
std          95.040286
min           2.000000
25%           5.000000
50%          14.000000
75%          42.000000
80%          55.000000
85%          74.000000
90%         107.000000
95%         181.000000
96%         210.000000
97%         249.000000
98%         314.000000
99%         439.000000
max        6227.000000
Name: count, dtype: float64

Number of `RandID`s per count of records, e.g. 1 `RandID` has 6227 records and 35113 `RandID`s have 2 records.

In [16]:
with pandas.option_context('display.max_rows', None):
    display(aol_treated['RandID'].value_counts().value_counts().sort_index(ascending=False).sort_index(ascending=False))

count
6227        1
5741        1
4272        1
3775        1
3516        1
3445        1
3265        1
3238        1
3074        1
2954        1
2887        1
2879        1
2874        1
2791        1
2786        1
2752        1
2712        1
2697        1
2696        1
2645        1
2579        1
2571        1
2508        1
2466        1
2464        1
2410        1
2354        1
2325        1
2311        1
2303        1
2298        1
2297        1
2265        1
2237        1
2236        1
2212        1
2192        1
2189        1
2187        1
2180        1
2165        1
2145        1
2129        1
2089        1
2075        1
2072        1
2036        1
2026        1
2025        1
2021        1
2002        1
2000        1
1995        1
1994        1
1981        1
1975        1
1925        1
1877        1
1874        1
1839        1
1827        1
1819        1
1815        1
1808        1
1807        1
1789        1
1783        1
1772        1
1763        1
1757        1
1756        1
1752        1
1748        1
1746        1
1740        1
1735        1
1727        1
1725        1
1723        2
1721        1
1719        1
1718        1
1712        1
1711        1
1707        1
1705        1
1698        1
1682        1
1678        1
1673        1
1665        1
1662        1
1656        2
1654        1
1652        1
1639        1
1632        1
1622        1
1613        1
1600        1
1599        1
1598        1
1592        2
1591        1
1589        1
1587        1
1585        1
1583        1
1579        1
1572        1
1571        1
1567        1
1566        1
1565        1
1562        1
1553        1
1552        1
1541        2
1539        1
1538        1
1534        1
1532        1
1526        1
1522        1
1521        1
1517        2
1510        1
1508        1
1498        1
1494        1
1490        1
1489        1
1487        1
1479        1
1477        1
1474        1
1470        1
1462        1
1454        1
1450        2
1448        1
1444        1
1443        1
1442        1
1441        1
1435        1
1428        2
1423        1
1420        1
1415        1
1414        2
1407        1
1404        2
1401        1
1400        1
1398        1
1397        1
1395        1
1392        1
1389        1
1388        1
1384        1
1379        2
1377        1
1376        1
1367        1
1361        2
1360        1
1357        1
1353        1
1351        2
1350        2
1344        1
1339        2
1338        1
1336        1
1332        1
1331        1
1330        1
1328        1
1324        1
1321        1
1318        1
1314        1
1313        1
1312        1
1310        1
1309        1
1307        2
1304        1
1303        1
1302        1
1301        2
1300        1
1296        1
1289        3
1286        1
1285        1
1284        1
1283        1
1278        1
1277        2
1272        1
1271        1
1270        2
1267        1
1265        1
1264        1
1261        1
1258        1
1256        1
1255        2
1252        1
1251        1
1250        1
1248        2
1247        2
1244        3
1240        1
1238        1
1235        1
1234        2
1233        1
1227        1
1226        1
1225        1
1222        1
1220        1
1219        2
1218        2
1217        2
1214        2
1213        1
1211        1
1207        2
1205        1
1204        3
1202        2
1201        1
1198        1
1195        1
1194        1
1193        1
1192        1
1189        1
1186        1
1185        1
1184        1
1183        2
1182        1
1181        2
1180        3
1178        1
1175        1
1173        1
1171        3
1170        2
1169        1
1168        1
1167        2
1165        1
1164        2
1162        1
1161        1
1158        2
1156        2
1155        2
1154        1
1151        2
1149        1
1147        1
1145        1
1141        1
1139        1
1136        1
1130        1
1129        1
1128        2
1127        1
1126        1
1125        3
1123        1
1121        1
1120        1
1119        2
1118        2
1116        3
1115        1
1112        1
1109        2
1108        1
1107        1
1105        1
1102        1
1100        1
1098        1
1097        1
1096        1
1095        2
1094        3
1093        3
1092        2
1090        2
1089        1
1088        3
1087        2
1085        4
1084        1
1083        1
1082        1
1081        2
1079        1
1077        1
1076        1
1075        5
1074        1
1072        2
1071        2
1069        2
1068        1
1066        1
1065        1
1064        2
1063        1
1062        2
1060        3
1059        2
1057        2
1056        1
1055        2
1054        1
1053        1
1052        3
1051        2
1050        1
1049        1
1047        1
1044        1
1043        2
1042        2
1040        2
1039        2
1038        4
1037        1
1036        1
1035        2
1034        2
1033        2
1031        1
1030        1
1029        1
1028        1
1027        2
1026        2
1025        1
1024        1
1023        1
1022        1
1020        2
1019        2
1018        2
1017        3
1016        1
1013        1
1012        1
1011        2
1010        2
1009        4
1008        4
1007        1
1006        1
1005        5
1004        3
1002        1
1001        2
1000        2
998         1
997         4
996         2
995         1
994         1
993         3
992         2
991         2
989         2
988         2
986         1
984         1
982         3
981         1
980         1
979         2
978         2
977         2
976         5
975         4
974         3
973         2
972         1
971         1
970         1
969         3
968         1
967         4
966         1
965         2
964         2
963         3
960         3
958         1
957         1
956         2
955         3
954         1
953         1
952         1
951         2
949         2
948         2
947         3
946         1
945         2
944         2
943         2
941         5
940         2
939         3
938         1
937         4
936         2
935         5
934         1
933         1
932         2
931         3
930         1
929         1
928         4
927         3
926         3
925         4
924         1
922         1
921         1
920         4
918         4
917         1
916         2
915         4
914         2
913         3
911         2
910         2
909         4
908         3
907         2
906         3
905         3
904         3
902         2
901         3
900         2
899         3
898         2
897         2
896         2
895         3
894         2
891         2
890         3
889         1
888         1
887         3
886         4
885         3
884         2
883         1
882         1
881         3
880         2
879         1
878         3
877         3
876         3
875         3
874         4
873         2
872         2
870         4
869         1
868         1
867         3
866         3
865         3
864         5
863         2
862         3
861         1
860         2
859         3
858         2
856         1
855         4
854         4
853         6
852         3
851         1
850         4
849         2
847         2
846         3
845         1
844         2
843         3
842         2
841         2
840         1
839         1
838         3
837         3
836         4
835         4
834         5
833         2
832         3
831         3
830         4
829         5
828         1
827         4
826         4
825         3
824         3
823         4
822         2
821         5
820         8
819         2
818         5
817         6
816         7
815         3
814         3
813         1
812         5
811         5
810         5
809         3
808         2
807         3
806         5
805         5
804         7
803         2
802         2
801         3
800         2
799         5
798         3
797         2
796         5
795         5
794         2
793         7
792         2
791         2
790         2
789         4
788         5
787         6
786         3
785         3
784         5
783         2
782         3
781         5
780         5
779         3
778         5
777         5
776         2
774         2
773         4
772         4
771         5
770         4
769         4
768         4
767         5
766         5
765         4
764         6
763         5
762         1
761         3
760         5
759         2
758         2
757         2
756         4
755         1
754         3
753         3
752         1
751         5
750         4
749         5
748         5
747         8
746         4
745         5
744         9
743         3
742         4
741         1
740         6
739         3
738         3
737         2
736         2
735         6
734         4
733         3
732         5
731         1
730         4
729         7
728         4
727         4
726         9
725         9
724         5
723         4
722         4
721         6
720         9
719         7
718         2
717         5
716         5
715         6
714         4
713         8
712         9
711         6
710         4
709         4
708         6
707         3
706         5
705         5
704         5
703         4
702         7
701         5
700         4
699         6
698         5
697         9
696         6
695         4
694         3
693         5
692         3
691        10
690         7
689         8
688         5
687         8
686         8
685         6
684         8
683         7
682         5
681         3
680         5
679         9
678         4
677         5
676         6
675        10
674         5
673         2
672         3
671        11
670         3
669         5
668         7
667         4
666         3
665         7
664         7
663         8
662         5
661         6
660         5
659        10
658         7
657         6
656         8
655         2
654         6
653         8
652         8
651         4
650         5
649         6
648         7
647         6
646         5
645         9
644         8
643         8
642         8
641         8
640         6
639         6
638        10
637         5
636        12
635         7
634         9
633        14
632         8
631         7
630         8
629         7
628        10
627         9
626         4
625        10
624         4
623         5
622         7
621         8
620         8
619         6
618        10
617         6
616        11
615         5
614         9
613        15
612         7
611         4
610        12
609        11
608         5
607         8
606         8
605         9
604        10
603        11
602         8
601        12
600         6
599         9
598        13
597         8
596         4
595        11
594         8
593         8
592         3
591         9
590        11
589        16
588         3
587        13
586         7
585         9
584        14
583        12
582         8
581         6
580        15
579         9
578        12
577        10
576         8
575        10
574        13
573        16
572        13
571        15
570        13
569        11
568         7
567         6
566        11
565         8
564         6
563        15
562        12
561        12
560        11
559        14
558         9
557        10
556         4
555         6
554         7
553        10
552        12
551         9
550        13
549         9
548        15
547        10
546        15
545        12
544        16
543        17
542        12
541        23
540        12
539         9
538        16
537        11
536         7
535         9
534        11
533        13
532        13
531         8
530        15
529        13
528         9
527        12
526        10
525         8
524        15
523         6
522        14
521         8
520        10
519        17
518        13
517        12
516        22
515        18
514        16
513        12
512        16
511        16
510        10
509        15
508        14
507        11
506         8
505        13
504        14
503        12
502        12
501        22
500        18
499        17
498         9
497        21
496        13
495        14
494         9
493        18
492        19
491        22
490        12
489        11
488        17
487        23
486        18
485        20
484        19
483        11
482        13
481        17
480        16
479        19
478        20
477        23
476        17
475        13
474        17
473        13
472        15
471        18
470        18
469        20
468        24
467        22
466        13
465        16
464        17
463        20
462        18
461        17
460        25
459        18
458        25
457        20
456        19
455        24
454        18
453        19
452        18
451        19
450        26
449        27
448        27
447        12
446        27
445        15
444        25
443        19
442        18
441        18
440        34
439        16
438        23
437        22
436        29
435        22
434        18
433        28
432        17
431        20
430        21
429        12
428        23
427        21
426        17
425        29
424        17
423        30
422        25
421        17
420        28
419        30
418        29
417        24
416        31
415        28
414        26
413        20
412        25
411        24
410        35
409        23
408        21
407        28
406        23
405        35
404        25
403        26
402        39
401        28
400        35
399        28
398        26
397        36
396        22
395        27
394        34
393        36
392        30
391        39
390        32
389        28
388        29
387        29
386        27
385        30
384        37
383        32
382        36
381        29
380        29
379        32
378        32
377        36
376        35
375        38
374        33
373        29
372        36
371        32
370        34
369        40
368        41
367        35
366        34
365        32
364        39
363        54
362        41
361        39
360        33
359        31
358        37
357        39
356        25
355        43
354        37
353        49
352        47
351        40
350        54
349        48
348        41
347        37
346        38
345        48
344        40
343        33
342        48
341        41
340        37
339        35
338        48
337        38
336        42
335        44
334        40
333        42
332        40
331        45
330        47
329        57
328        47
327        41
326        43
325        47
324        46
323        39
322        47
321        50
320        45
319        48
318        50
317        63
316        64
315        67
314        50
313        38
312        38
311        61
310        50
309        53
308        52
307        55
306        64
305        60
304        50
303        63
302        50
301        55
300        62
299        75
298        68
297        56
296        58
295        62
294        50
293        63
292        49
291        51
290        49
289        59
288        69
287        58
286        59
285        71
284        72
283        73
282        82
281        51
280        64
279        71
278        86
277        82
276        79
275        57
274        70
273        60
272        72
271        60
270        66
269        80
268        82
267        71
266        78
265        76
264        67
263        75
262        72
261        71
260        76
259        80
258        73
257        82
256        82
255        77
254        85
253        85
252        97
251        94
250        80
249        85
248        92
247       110
246        84
245       105
244        90
243        68
242       109
241       110
240        90
239       113
238        90
237       106
236       105
235        88
234       100
233       117
232       123
231       103
230       112
229       108
228        93
227       118
226       117
225       120
224       115
223       112
222        94
221       109
220       126
219       136
218       109
217       137
216       116
215       131
214       140
213       135
212       134
211       143
210       150
209       127
208       126
207       144
206       127
205       146
204       150
203       125
202       120
201       125
200       145
199       154
198       152
197       153
196       161
195       141
194       163
193       148
192       147
191       149
190       172
189       170
188       134
187       166
186       168
185       174
184       178
183       182
182       166
181       208
180       206
179       168
178       179
177       186
176       205
175       208
174       194
173       209
172       202
171       198
170       187
169       187
168       200
167       195
166       203
165       199
164       230
163       223
162       215
161       203
160       224
159       229
158       248
157       242
156       227
155       240
154       261
153       259
152       275
151       274
150       287
149       251
148       256
147       253
146       266
145       270
144       296
143       277
142       299
141       290
140       312
139       301
138       329
137       317
136       324
135       333
134       320
133       295
132       333
131       352
130       335
129       327
128       291
127       376
126       332
125       345
124       413
123       352
122       387
121       362
120       381
119       401
118       428
117       435
116       443
115       430
114       443
113       425
112       471
111       460
110       473
109       489
108       490
107       475
106       536
105       489
104       533
103       502
102       540
101       518
100       564
99        541
98        567
97        571
96        572
95        589
94        623
93        614
92        585
91        647
90        661
89        698
88        650
87        745
86        728
85        661
84        739
83        729
82        807
81        788
80        764
79        794
78        806
77        854
76        880
75        891
74        854
73        912
72        960
71        960
70        943
69       1011
68        997
67       1048
66       1031
65       1081
64       1149
63       1121
62       1147
61       1264
60       1222
59       1250
58       1255
57       1294
56       1368
55       1372
54       1442
53       1493
52       1492
51       1503
50       1642
49       1655
48       1692
47       1778
46       1827
45       1880
44       1915
43       2023
42       2062
41       2157
40       2207
39       2256
38       2370
37       2419
36       2593
35       2607
34       2811
33       2784
32       3040
31       3156
30       3235
29       3365
28       3404
27       3668
26       3867
25       3992
24       4195
23       4371
22       4699
21       5044
20       5221
19       5662
18       5915
17       6417
16       6964
15       7323
14       7989
13       8561
12       9388
11      10080
10      11226
9       12642
8       14052
7       15887
6       18221
5       21349
4       25424
3       30434
2       35113
Name: count, dtype: int64

Date and time range.

In [17]:
display(aol_treated['QueryTime'].min())

Timestamp('2006-03-01 00:01:04')

In [18]:
display(aol_treated['QueryTime'].max())

Timestamp('2006-05-31 23:59:59')

Number of unique `Domain` values.

In [19]:
%%time
aol_treated_domains_counts = dict(Counter(aol_treated['Domain'].to_list()))
display(len(aol_treated_domains_counts))

1291534

CPU times: user 5.84 s, sys: 93.1 ms, total: 5.93 s
Wall time: 5.84 s

Top `Domain` values by number of records.

In [20]:
top = 100
with pandas.option_context('display.max_rows', top, 'display.min_rows', top):
    display(pandas.Series(aol_treated_domains_counts).sort_values(ascending=False).head(top))

yahoo.com                428998
google.com               389798
myspace.com              221460
about.com                209238
ebay.com                 160581
wikipedia.org            124046
amazon.com               105542
imdb.com                 102630
msn.com                  102600
mapquest.com              99474
go.com                    83026
craigslist.org            64031
aol.com                   63899
nih.gov                   49256
bankofamerica.com         48169
geocities.com             41270
citysearch.com            40903
ask.com                   39173
hotmail.com               37634
bizrate.com               34360
tripadvisor.com           32256
tripod.com                32024
superpages.com            31080
nextag.com                27695
answers.com               26719
southwest.com             25500
azlyrics.com              24620
microsoft.com             24422
ca.gov                    24357
tv.com                    23234
irs.gov                   22898
cnn.com                   22717
walmart.com               22194
angelfire.com             21295
nytimes.com               19928
mlb.com                   19054
state.ny.us               18234
rootsweb.com              18205
city-data.com             18028
sing365.com               17638
findarticles.com          17363
state.tx.us               16779
epinions.com              16755
pogo.com                  16698
target.com                16033
cooks.com                 15598
switchboard.com           15502
wellsfargo.com            15459
bbc.co.uk                 15448
gamespot.com              14304
weather.com               14040
fidelity.com              13969
ign.com                   13808
army.mil                  13680
usps.com                  13677
nbc.com                   13640
state.nj.us               12844
webmd.com                 12767
idolonfox.com             12463
ehow.com                  12398
allrecipes.com            12341
reference.com             12325
ticketmaster.com          12322
topix.net                 12093
greatschools.net          12039
careerbuilder.com         12010
qvc.com                   11842
noaa.gov                  11759
xanga.com                 11640
ed.gov                    11424
kbb.com                   11197
sapo.pt                   11107
drugs.com                 11038
ivillage.com              11001
shopping.com              10842
hotel-guides.us           10697
state.pa.us               10689
netscape.com              10677
nylottery.org             10597
lowes.com                 10596
alibaba.com               10486
flickr.com                10352
ezboard.com               10307
nick.com                  10132
flalottery.com            10127
thefreedictionary.com     10044
whitepages.com             9975
homedepot.com              9900
wachovia.com               9860
infoplease.com             9857
lyrics007.com              9810
state.fl.us                9773
wunderground.com           9761
homes.com                  9433
medicinenet.com            9335
apple.com                  9304
typepad.com                9304
cduniverse.com             9291
fotosearch.com             9242
realtor.com                9221
dtype: int64

### Define browsing histories

In [21]:
%%time
aol_treated['BrowsingHistory'] = list(zip(aol_treated.Domain, aol_treated.QueryTime))

CPU times: user 1min 4s, sys: 2.1 s, total: 1min 6s
Wall time: 1min 5s

In [22]:
display(aol_treated)

,RandID,QueryTime,Domain,BrowsingHistory
0,0,2006-05-13 00:12:16,edzapp.com,"(edzapp.com, 2006-05-13 00:12:16)"
1,0,2006-05-13 00:15:28,riverdale.k12.or.us,"(riverdale.k12.or.us, 2006-05-13 00:15:28)"
2,0,2006-05-13 00:15:28,riverdale.k12.or.us,"(riverdale.k12.or.us, 2006-05-13 00:15:28)"
3,0,2006-05-13 00:22:39,salkeiz.k12.or.us,"(salkeiz.k12.or.us, 2006-05-13 00:22:39)"
4,0,2006-05-13 00:22:39,greatschools.net,"(greatschools.net, 2006-05-13 00:22:39)"
...,...,...,...,...
19154974,521691,2006-03-07 21:42:51,ups.com,"(ups.com, 2006-03-07 21:42:51)"
19154975,521691,2006-03-15 19:24:17,google.com,"(google.com, 2006-03-15 19:24:17)"
19154976,521691,2006-04-01 18:45:41,google.com,"(google.com, 2006-04-01 18:45:41)"
19154977,521691,2006-04-02 01:33:52,supercross.com,"(supercross.com, 2006-04-02 01:33:52)"
19154978,521691,2006-05-15 00:03:49,976-tuna.com,"(976-tuna.com, 2006-05-15 00:03:49)"

In [23]:
%%time
aol_treated_browsing_history = aol_treated[['RandID','BrowsingHistory']].groupby('RandID', sort=False)[['BrowsingHistory']].agg(lambda x : list(x)).reset_index()

CPU times: user 18.5 s, sys: 671 ms, total: 19.2 s
Wall time: 19.2 s

In [24]:
display(aol_treated_browsing_history)

        RandID                                    BrowsingHistory
0            0  [(edzapp.com, 2006-05-13 00:12:16), (riverdale...
1            1  [(kidshealth.org, 2006-03-01 11:54:19), (kidsh...
2            3  [(lawyers.com, 2006-03-02 17:38:43), (cpted-wa...
3            4  [(foxnews.com, 2006-03-12 20:33:21), (google.c...
4            5  [(tvsquad.com, 2006-03-06 23:15:25), (sou.edu,...
...        ...                                                ...
436000  521687  [(christianspeakers.com, 2006-03-03 10:21:42),...
436001  521688  [(winonamanufacturing.com, 2006-03-02 20:39:12...
436002  521689  [(dilithiumnetworks.com, 2006-03-04 00:57:31),...
436003  521690  [(dfas.mil, 2006-03-01 22:06:56), (dfas.mil, 2...
436004  521691  [(go.com, 2006-03-04 11:36:38), (frys.com, 200...

[436005 rows x 2 columns]

### Save to file

In [25]:
aol_treated_browsing_history.to_csv('AOL-experimental.csv')