# AOL Experimental Dataset (Google Topics v1)

In [1]:
import pandas, random
from collections import Counter

## AOL reduced dataset with Google Topics Classification v1

In [2]:
%%time
# Loads AOL-reduced-Google-Topics-Classification-v1 dataset into data DataFrame.
aol_reduced_google = pandas.read_csv('AOL-reduced-Google-Topics-Classification-v1.csv', low_memory=False, on_bad_lines='warn', index_col=0)

CPU times: user 3.04 s, sys: 317 ms, total: 3.36 s
Wall time: 3.34 s

In [3]:
%%time
aol_reduced_google['QueryTime'] = pandas.to_datetime(aol_reduced_google['QueryTime'])

CPU times: user 803 ms, sys: 8.24 ms, total: 811 ms
Wall time: 800 ms

In [4]:
display(aol_reduced_google)

         RandID           QueryTime             Domain       topics
0             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
1             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
2             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
3             1 2006-05-09 19:13:53  bankofamerica.com        '149'
4             1 2006-05-22 16:46:29  bankofamerica.com        '149'
...         ...                 ...                ...          ...
2493890  521691 2006-03-07 21:29:17            ups.com        '103'
2493891  521691 2006-03-07 21:41:20          fedex.com        '103'
2493892  521691 2006-03-07 21:42:51            ups.com        '103'
2493893  521691 2006-03-15 19:24:17         google.com        '219'
2493894  521691 2006-04-01 18:45:41         google.com        '219'

[2493895 rows x 4 columns]

### Drop singletons

In [5]:
%%time
# Lists rows for RandID individuals with only one domain in their browsing history, to be dropped.
temp = aol_reduced_google[['RandID','Domain']].groupby(['RandID']).nunique()
singletons = temp[temp['Domain'] == 1].index.to_list()
print(len(singletons))

127359
CPU times: user 621 ms, sys: 47.5 ms, total: 669 ms
Wall time: 666 ms

In [6]:
aol_reduced_google = aol_reduced_google[~aol_reduced_google.RandID.isin(singletons)]

In [7]:
aol_reduced_google = aol_reduced_google.reset_index(drop=True)

In [8]:
display(aol_reduced_google)

         RandID           QueryTime             Domain       topics
0             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
1             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
2             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
3             1 2006-05-09 19:13:53  bankofamerica.com        '149'
4             1 2006-05-22 16:46:29  bankofamerica.com        '149'
...         ...                 ...                ...          ...
2262666  521691 2006-03-07 21:29:17            ups.com        '103'
2262667  521691 2006-03-07 21:41:20          fedex.com        '103'
2262668  521691 2006-03-07 21:42:51            ups.com        '103'
2262669  521691 2006-03-15 19:24:17         google.com        '219'
2262670  521691 2006-04-01 18:45:41         google.com        '219'

[2262671 rows x 4 columns]

### Drop outlier

In [9]:
%%time
# One individual has too many domains in their browsing history and is most probably a bot, to be dropped.
display(aol_reduced_google['RandID'].value_counts())

RandID
463921    19011
132847      933
342660      851
182883      739
196292      723
          ...
89596         2
199364        2
199377        2
199380        2
261173        2
Name: count, Length: 198024, dtype: int64

CPU times: user 40.6 ms, sys: 8.24 ms, total: 48.8 ms
Wall time: 47.9 ms

In [10]:
aol_reduced_google = aol_reduced_google.drop(aol_reduced_google[aol_reduced_google['RandID'] == 463921].index.to_list())

In [11]:
aol_reduced_google = aol_reduced_google.reset_index(drop=True)

In [12]:
display(aol_reduced_google)

         RandID           QueryTime             Domain       topics
0             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
1             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
2             1 2006-03-01 11:54:19     kidshealth.org  '258','276'
3             1 2006-05-09 19:13:53  bankofamerica.com        '149'
4             1 2006-05-22 16:46:29  bankofamerica.com        '149'
...         ...                 ...                ...          ...
2243655  521691 2006-03-07 21:29:17            ups.com        '103'
2243656  521691 2006-03-07 21:41:20          fedex.com        '103'
2243657  521691 2006-03-07 21:42:51            ups.com        '103'
2243658  521691 2006-03-15 19:24:17         google.com        '219'
2243659  521691 2006-04-01 18:45:41         google.com        '219'

[2243660 rows x 4 columns]

### Statistics

In [13]:
%%time
aol_reduced_google.info(verbose=True, memory_usage='deep', show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243660 entries, 0 to 2243659
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   RandID     2243660 non-null  int64
 1   QueryTime  2243660 non-null  datetime64[ns]
 2   Domain     2243660 non-null  object
 3   topics     2243660 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 317.7 MB
CPU times: user 850 ms, sys: 4.16 ms, total: 854 ms
Wall time: 845 ms

Number of unique values per attribute.

In [14]:
display(aol_reduced_google.nunique(dropna=False))

RandID        198023
QueryTime    1613469
Domain          2652
topics           402
dtype: int64

`RandID` statistics.

In [15]:
display(aol_reduced_google['RandID'].value_counts().describe([.25,.50,.75,.80,.85,.90,.95,.96,.97,.98,.99]))

count    198023.000000
mean         11.330300
std          20.183602
min           2.000000
25%           3.000000
50%           6.000000
75%          12.000000
80%          14.000000
85%          18.000000
90%          24.000000
95%          38.000000
96%          43.000000
97%          51.000000
98%          63.000000
99%          90.000000
max         933.000000
Name: count, dtype: float64

Number of `RandID`s per count of records, e.g. 1 `RandID` has 933 records and 33249 `RandID`s have 2 records.

In [16]:
with pandas.option_context('display.max_rows', None):
    display(aol_reduced_google['RandID'].value_counts().value_counts().sort_index(ascending=False).sort_index(ascending=False))

count
933        1
851        1
739        1
723        1
717        1
657        1
622        1
581        1
577        1
565        1
561        2
555        1
548        1
547        1
542        1
541        1
530        1
527        1
523        1
517        1
516        1
502        1
500        1
498        1
497        1
487        1
486        1
475        2
474        1
473        1
450        1
448        1
446        1
445        1
431        1
424        1
423        1
418        1
412        3
410        1
406        1
392        1
389        2
388        1
387        1
383        2
380        2
379        1
374        2
372        1
370        2
367        2
365        1
363        2
361        1
356        1
354        1
350        1
348        2
347        1
345        1
343        1
342        1
341        1
339        1
338        1
335        2
332        1
330        1
327        1
326        1
325        2
324        1
322        2
318        3
317        1
315        1
314        1
310        1
306        2
305        1
303        2
302        3
300        1
299        2
298        1
295        1
292        3
291        2
289        2
288        2
287        1
285        1
284        1
282        1
281        1
280        1
278        1
277        3
275        1
274        2
273        2
272        1
271        2
270        4
269        1
268        2
266        3
265        1
262        1
261        3
260        1
259        1
258        3
257        1
256        7
255        2
254        2
253        3
252        2
251        4
250        4
249        4
248        1
247        2
246        2
245        2
244        3
243        3
242        1
240        3
239        2
238        3
237        1
236        3
235        1
234        2
233        2
232        4
231        4
230        4
229        1
227        2
226        1
225        1
224        2
223        2
222        3
221        1
220        6
219        5
217        5
216        2
215        2
214        1
213        2
212        2
211        3
210        4
209        6
208        2
206        9
205        2
204        2
203        1
202        3
201        4
200        3
199        3
198        7
197        7
196        6
195        8
194        2
193        3
192        7
191        1
190        4
189        5
188        9
187        4
186        9
185        5
184        4
183        5
182        4
181       12
180        2
179        1
178       10
177        4
176        9
175        7
174        5
173        3
172        8
171        1
170        6
169        3
168       10
167        9
166        6
165       11
164        6
163        7
162        9
161        8
160        9
159        8
158       11
157        8
156        7
155        9
154        5
153        6
152        8
151       10
150       10
149       10
148        9
147       13
146        8
145       17
144        9
143        8
142        8
141       16
140       11
139       14
138       16
137       16
136        7
135       14
134       11
133       15
132       16
131       19
130       10
129       12
128       14
127       20
126       24
125       17
124       22
123       23
122       18
121       18
120       22
119       21
118       29
117       16
116       24
115       23
114       26
113       26
112       20
111       24
110       26
109       33
108       30
107       26
106       27
105       21
104       33
103       29
102       34
101       35
100       32
99        22
98        38
97        42
96        29
95        34
94        57
93        45
92        60
91        51
90        44
89        38
88        50
87        45
86        52
85        54
84        56
83        61
82        56
81        39
80        67
79        67
78        66
77        63
76        77
75        68
74        67
73        86
72        88
71        81
70        91
69        83
68       107
67        92
66       107
65        95
64       111
63       121
62       134
61       131
60       143
59       108
58       163
57       154
56       168
55       177
54       203
53       190
52       201
51       207
50       224
49       254
48       260
47       237
46       257
45       303
44       309
43       330
42       371
41       303
40       390
39       416
38       462
37       447
36       488
35       548
34       581
33       600
32       653
31       687
30       730
29       817
28       828
27       926
26       970
25      1101
24      1188
23      1346
22      1399
21      1598
20      1790
19      1910
18      2065
17      2433
16      2741
15      2905
14      3411
13      3861
12      4345
11      5185
10      6049
9       7127
8       8578
7      10289
6      12884
5      16063
4      20734
3      27394
2      33249
Name: count, dtype: int64

Date and time range.

In [17]:
display(aol_reduced_google['QueryTime'].min())

Timestamp('2006-03-01 00:01:04')

In [18]:
display(aol_reduced_google['QueryTime'].max())

Timestamp('2006-05-31 23:59:58')

Number of unique `Domain` values.

In [19]:
%%time
aol_reduced_google_domains_counts = dict(Counter(aol_reduced_google['Domain'].to_list()))
display(len(aol_reduced_google_domains_counts))

2652

CPU times: user 145 ms, sys: 447 µs, total: 146 ms
Wall time: 144 ms

Top `Domain` values by number of records.

In [20]:
top = 100
with pandas.option_context('display.max_rows', top, 'display.min_rows', top):
    display(pandas.Series(aol_reduced_google_domains_counts).sort_values(ascending=False).head(top))

google.com                323106
ebay.com                  151782
wikipedia.org             118886
amazon.com                101173
imdb.com                   98433
msn.com                    95355
mapquest.com               88099
aol.com                    56887
bankofamerica.com          43168
tripadvisor.com            30566
answers.com                25827
southwest.com              22885
microsoft.com              22219
azlyrics.com               21988
cnn.com                    21765
walmart.com                21198
irs.gov                    20724
nytimes.com                19289
mlb.com                    17500
target.com                 15409
bbc.co.uk                  14876
pogo.com                   14577
wellsfargo.com             13385
ign.com                    12840
weather.com                12756
usps.com                   12690
fidelity.com               11958
allrecipes.com             11565
qvc.com                    10993
lowes.com                  10115
kbb.com                    10112
sapo.pt                    10097
alibaba.com                10095
flickr.com                  9774
thefreedictionary.com       9584
homedepot.com               9442
whitepages.com              9170
wunderground.com            9151
pbs.org                     8827
medicinenet.com             8765
nps.gov                     8687
realtor.com                 8514
cdc.gov                     8258
marriott.com                8175
bedbathandbeyond.com        8114
rottentomatoes.com          7884
usatoday.com                7752
foodnetwork.com             7573
barnesandnoble.com          7504
washingtonpost.com          7452
kidshealth.org              6988
ups.com                     6967
nba.com                     6526
youtube.com                 6474
facebook.com                6466
chase.com                   6248
michigan.gov                6169
costco.com                  6015
cbs.com                     5950
americanexpress.com         5945
edmunds.com                 5932
usbank.com                  5932
verizon.com                 5921
foxnews.com                 5789
jcpenney.com                5676
sprint.com                  5664
nasa.gov                    5594
pbskids.org                 5581
delta.com                   5515
att.net                     5476
hilton.com                  5440
cnet.com                    5394
fda.gov                     5223
autotrader.com              5115
drudgereport.com            5060
vrbo.com                    4923
expedia.com                 4849
nfl.com                     4660
cbsnews.com                 4614
aa.com                      4498
yellowpages.com             4396
sfgate.com                  4346
overstock.com               4332
nationalgeographic.com      4253
samsclub.com                4183
loc.gov                     4102
travelocity.com             4101
va.gov                      4092
univision.com               4026
sparknotes.com              4015
priceline.com               3937
capitalone.com              3894
petfinder.com               3840
walgreens.com               3828
fedex.com                   3824
victoriassecret.com         3792
bartleby.com                3772
nj.com                      3721
forbes.com                  3632
timeanddate.com             3579
dtype: int64

### Define browsing histories and lists of topics

In [21]:
%%time
aol_reduced_google['BrowsingHistory'] = list(zip(aol_reduced_google.Domain, aol_reduced_google.QueryTime))

CPU times: user 7.86 s, sys: 261 ms, total: 8.12 s
Wall time: 8.11 s

In [22]:
display(aol_reduced_google)

,RandID,QueryTime,Domain,topics,BrowsingHistory
0,1,2006-03-01 11:54:19,kidshealth.org,"'258','276'","(kidshealth.org, 2006-03-01 11:54:19)"
1,1,2006-03-01 11:54:19,kidshealth.org,"'258','276'","(kidshealth.org, 2006-03-01 11:54:19)"
2,1,2006-03-01 11:54:19,kidshealth.org,"'258','276'","(kidshealth.org, 2006-03-01 11:54:19)"
3,1,2006-05-09 19:13:53,bankofamerica.com,'149',"(bankofamerica.com, 2006-05-09 19:13:53)"
4,1,2006-05-22 16:46:29,bankofamerica.com,'149',"(bankofamerica.com, 2006-05-22 16:46:29)"
...,...,...,...,...,...
2243655,521691,2006-03-07 21:29:17,ups.com,'103',"(ups.com, 2006-03-07 21:29:17)"
2243656,521691,2006-03-07 21:41:20,fedex.com,'103',"(fedex.com, 2006-03-07 21:41:20)"
2243657,521691,2006-03-07 21:42:51,ups.com,'103',"(ups.com, 2006-03-07 21:42:51)"
2243658,521691,2006-03-15 19:24:17,google.com,'219',"(google.com, 2006-03-15 19:24:17)"
2243659,521691,2006-04-01 18:45:41,google.com,'219',"(google.com, 2006-04-01 18:45:41)"

In [23]:
%%time
aol_reduced_google['topics'] = aol_reduced_google['topics'].map(lambda x : x.split(","))

CPU times: user 2.93 s, sys: 256 ms, total: 3.19 s
Wall time: 3.17 s

In [24]:
display(aol_reduced_google)

,RandID,QueryTime,Domain,topics,BrowsingHistory
0,1,2006-03-01 11:54:19,kidshealth.org,"['258', '276']","(kidshealth.org, 2006-03-01 11:54:19)"
1,1,2006-03-01 11:54:19,kidshealth.org,"['258', '276']","(kidshealth.org, 2006-03-01 11:54:19)"
2,1,2006-03-01 11:54:19,kidshealth.org,"['258', '276']","(kidshealth.org, 2006-03-01 11:54:19)"
3,1,2006-05-09 19:13:53,bankofamerica.com,['149'],"(bankofamerica.com, 2006-05-09 19:13:53)"
4,1,2006-05-22 16:46:29,bankofamerica.com,['149'],"(bankofamerica.com, 2006-05-22 16:46:29)"
...,...,...,...,...,...
2243655,521691,2006-03-07 21:29:17,ups.com,['103'],"(ups.com, 2006-03-07 21:29:17)"
2243656,521691,2006-03-07 21:41:20,fedex.com,['103'],"(fedex.com, 2006-03-07 21:41:20)"
2243657,521691,2006-03-07 21:42:51,ups.com,['103'],"(ups.com, 2006-03-07 21:42:51)"
2243658,521691,2006-03-15 19:24:17,google.com,['219'],"(google.com, 2006-03-15 19:24:17)"
2243659,521691,2006-04-01 18:45:41,google.com,['219'],"(google.com, 2006-04-01 18:45:41)"

In [25]:
%%time
aol_reduced_google_generalization = aol_reduced_google[['RandID','BrowsingHistory','topics']].groupby('RandID', sort=False)[['BrowsingHistory','topics']].agg(lambda x : list(x)).reset_index()

CPU times: user 14.3 s, sys: 145 ms, total: 14.4 s
Wall time: 14.4 s

In [26]:
display(aol_reduced_google_generalization)

,RandID,BrowsingHistory,topics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","[['258', '276'], ['258', '276'], ['258', '276'..."
1,3,"[(google.com, 2006-03-18 15:06:00), (cdc.gov, ...","[['219'], ['239'], ['289'], ['258', '276'], ['..."
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","[['1', '243'], ['219']]"
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (uhaul.co...","[['1', '243'], ['103'], ['1', '215', '243']]"
4,6,"[(google.com, 2006-03-06 15:07:17), (google.co...","[['219'], ['219'], ['219'], ['219'], ['219'], ..."
...,...,...,...
198018,521683,"[(imdb.com, 2006-04-08 17:05:00), (cbs.com, 20...","[['12', '45'], ['1', '243']]"
198019,521686,"[(flickr.com, 2006-03-12 21:19:11), (kbb.com, ...","[['42', '250', '253'], ['57', '62', '83'], ['2..."
198020,521688,"[(aol.com, 2006-03-16 16:59:47), (ebay.com, 20...","[['1', '215', '243'], ['289'], ['275']]"
198021,521689,"[(msn.com, 2006-03-04 01:07:45), (google.com, ...","[['1', '215', '243'], ['219'], ['219'], ['219'..."
198022,521691,"[(ups.com, 2006-03-07 21:29:17), (fedex.com, 2...","[['103'], ['103'], ['103'], ['219'], ['219']]"

In [27]:
%%time
aol_reduced_google_generalization['topics'] = aol_reduced_google_generalization['topics'].map(lambda x : [topic for t in x for topic in t])

CPU times: user 499 ms, sys: 28.3 ms, total: 527 ms
Wall time: 525 ms

In [28]:
display(aol_reduced_google_generalization)

,RandID,BrowsingHistory,topics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","['258', '276', '258', '276', '258', '276', '14..."
1,3,"[(google.com, 2006-03-18 15:06:00), (cdc.gov, ...","['219', '239', '289', '258', '276', '258', '27..."
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","['1', '243', '219']"
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (uhaul.co...","['1', '243', '103', '1', '215', '243']"
4,6,"[(google.com, 2006-03-06 15:07:17), (google.co...","['219', '219', '219', '219', '219', '219', '21..."
...,...,...,...
198018,521683,"[(imdb.com, 2006-04-08 17:05:00), (cbs.com, 20...","['12', '45', '1', '243']"
198019,521686,"[(flickr.com, 2006-03-12 21:19:11), (kbb.com, ...","['42', '250', '253', '57', '62', '83', '248', ..."
198020,521688,"[(aol.com, 2006-03-16 16:59:47), (ebay.com, 20...","['1', '215', '243', '289', '275']"
198021,521689,"[(msn.com, 2006-03-04 01:07:45), (google.com, ...","['1', '215', '243', '219', '219', '219', '334'..."
198022,521691,"[(ups.com, 2006-03-07 21:29:17), (fedex.com, 2...","['103', '103', '103', '219', '219']"

In [29]:
aol_reduced_google_generalization = aol_reduced_google_generalization.rename(columns={'topics' : 'AllTopics'})

In [30]:
%%time
# Computes the number of unique seen topics.
aol_reduced_google_seen_topics = sorted(list(set([x for y in aol_reduced_google_generalization['AllTopics'] for x in y])))
display(len(aol_reduced_google_seen_topics))

169

CPU times: user 324 ms, sys: 0 ns, total: 324 ms
Wall time: 319 ms

In [31]:
%%time
aol_reduced_google_generalization['sTopics'] = aol_reduced_google_generalization['AllTopics'].map(lambda x : dict(Counter(x)))

CPU times: user 757 ms, sys: 44.1 ms, total: 801 ms
Wall time: 797 ms

In [32]:
display(aol_reduced_google_generalization)

,RandID,BrowsingHistory,AllTopics,sTopics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","['258', '276', '258', '276', '258', '276', '14...","{''258'': 3, ''276'': 3, ''149'': 2}"
1,3,"[(google.com, 2006-03-18 15:06:00), (cdc.gov, ...","['219', '239', '289', '258', '276', '258', '27...","{''219'': 2, ''239'': 1, ''289'': 1, ''258'': ..."
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","['1', '243', '219']","{''1'': 1, ''243'': 1, ''219'': 1}"
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (uhaul.co...","['1', '243', '103', '1', '215', '243']","{''1'': 2, ''243'': 2, ''103'': 1, ''215'': 1}"
4,6,"[(google.com, 2006-03-06 15:07:17), (google.co...","['219', '219', '219', '219', '219', '219', '21...","{''219'': 10, ''12'': 2, ''289'': 1, ''299'': ..."
...,...,...,...,...
198018,521683,"[(imdb.com, 2006-04-08 17:05:00), (cbs.com, 20...","['12', '45', '1', '243']","{''12'': 1, ''45'': 1, ''1'': 1, ''243'': 1}"
198019,521686,"[(flickr.com, 2006-03-12 21:19:11), (kbb.com, ...","['42', '250', '253', '57', '62', '83', '248', ...","{''42'': 1, ''250'': 1, ''253'': 1, ''57'': 1,..."
198020,521688,"[(aol.com, 2006-03-16 16:59:47), (ebay.com, 20...","['1', '215', '243', '289', '275']","{''1'': 1, ''215'': 1, ''243'': 1, ''289'': 1,..."
198021,521689,"[(msn.com, 2006-03-04 01:07:45), (google.com, ...","['1', '215', '243', '219', '219', '219', '334'...","{''1'': 1, ''215'': 1, ''243'': 2, ''219'': 5,..."
198022,521691,"[(ups.com, 2006-03-07 21:29:17), (fedex.com, 2...","['103', '103', '103', '219', '219']","{''103'': 3, ''219'': 2}"

In [33]:
def s_top(topics, s, allTopics):
    # If RandID's AllTopics list has exactly S topics, this is already their sTopics list.
    if len(topics) == s:
        top_s = list(topics.keys())
    # If RandID's AllTopics list has less than S topics, selects the remaining topics at random from the taxonomy.
    elif len(topics) < s:
        top_s = list(topics.keys())
        top_s.extend(random.sample(list(set(allTopics) - set(top_s)), k=s-len(top_s)))
    # If RandID's AllTopics list has more than S topics, selects only S of them, in decreasing order of occurrence.
    elif len(topics) > s:
        # Creates a temporary copy of RandID's AllTopics list (here a dictionary mapping topic to count).
        temp = topics.copy()
        # Creates the sTopics list with RandID's most seen topic and deletes it from temporary list.
        top_s = [max(temp, key=temp.get)]
        val = temp[top_s[0]]
        del temp[top_s[0]]
        # Creates a temporary list, alternatives, to account for topics with the same number of occurrences.
        v = temp[max(temp, key=temp.get)]
        alternatives = [top_s[0]]
        # While the sTopics list has less than S topics OR the next topic has the same number of occurrences.
        while len(top_s) < s or v == val:
            t = max(temp, key=temp.get)
            # If the current topic has the same number of occurrences as the previous one,
            # append it to alternatives.
            if v == val:
                alternatives.append(t)
            # Otherwise, clear alternatives and append the current topic to it.
            else:
                alternatives.clear()
                alternatives.append(t)
            top_s.append(t)
            val = v
            del temp[t]
            # If the temporary list is empty, break the loop.
            if len(temp) == 0:
                break
            else:
                v = temp[max(temp, key=temp.get)]
        # If the sTopics list has more than S topics, randomly selects the appropriate number of topics
        # from alternatives, i.e. from the topics with the same number of occurrences.
        if len(top_s) > s:
            delta = s - (len(top_s) - len(alternatives))
            top_s = top_s[0:s-delta]
            top_s.extend(random.sample(alternatives, k=delta))
    
    return sorted(top_s)

In [34]:
%%time
# Selects S topics to be in sTopics list for each RandID.
random.SystemRandom()
S = 5
aol_reduced_google_generalization['sTopics'] = aol_reduced_google_generalization['sTopics'].map(lambda x : s_top(x, S, aol_reduced_google_seen_topics))

CPU times: user 4.84 s, sys: 51.9 ms, total: 4.89 s
Wall time: 4.88 s

In [35]:
display(aol_reduced_google_generalization)

,RandID,BrowsingHistory,AllTopics,sTopics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","['258', '276', '258', '276', '258', '276', '14...","['149', '234', '258', '276', '56']"
1,3,"[(google.com, 2006-03-18 15:06:00), (cdc.gov, ...","['219', '239', '289', '258', '276', '258', '27...","['1', '180', '186', '258', '276']"
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","['1', '243', '219']","['1', '217', '219', '243', '306']"
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (uhaul.co...","['1', '243', '103', '1', '215', '243']","['1', '103', '215', '239', '243']"
4,6,"[(google.com, 2006-03-06 15:07:17), (google.co...","['219', '219', '219', '219', '219', '219', '21...","['12', '219', '289', '299', '314']"
...,...,...,...,...
198018,521683,"[(imdb.com, 2006-04-08 17:05:00), (cbs.com, 20...","['12', '45', '1', '243']","['1', '12', '230', '243', '45']"
198019,521686,"[(flickr.com, 2006-03-12 21:19:11), (kbb.com, ...","['42', '250', '253', '57', '62', '83', '248', ...","['248', '250', '253', '62', '83']"
198020,521688,"[(aol.com, 2006-03-16 16:59:47), (ebay.com, 20...","['1', '215', '243', '289', '275']","['1', '215', '243', '275', '289']"
198021,521689,"[(msn.com, 2006-03-04 01:07:45), (google.com, ...","['1', '215', '243', '219', '219', '219', '334'...","['1', '215', '219', '243', '334']"
198022,521691,"[(ups.com, 2006-03-07 21:29:17), (fedex.com, 2...","['103', '103', '103', '219', '219']","['103', '215', '219', '336', '81']"

In [36]:
# Checks if every sTopics list has exactly S topics.
display(aol_reduced_google_generalization['sTopics'].map(lambda x : True if len(x) == S else False).all())

True

### Save to file

In [37]:
aol_reduced_google_generalization.to_csv('AOL-experimental-Google-Topics-Classification-v1.csv')