# AOL Experimental Dataset (Citizen Lab)

In [1]:
import pandas, random
from collections import Counter

## AOL reduced dataset with Citizen Lab Classification

In [2]:
%%time
# Loads AOL-reduced-Citizen-Lab-Classification dataset into data DataFrame.
aol_reduced_citizen_lab = pandas.read_csv('AOL-reduced-Citizen-Lab-Classification.csv', low_memory=False, on_bad_lines='warn', index_col=0)

CPU times: user 3.94 s, sys: 486 ms, total: 4.43 s
Wall time: 4.4 s

In [3]:
%%time
aol_reduced_citizen_lab['QueryTime'] = pandas.to_datetime(aol_reduced_citizen_lab['QueryTime'])

CPU times: user 1.01 s, sys: 6.52 ms, total: 1.01 s
Wall time: 996 ms

In [4]:
display(aol_reduced_citizen_lab)

,RandID,QueryTime,Domain,topics
0,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
1,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
2,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
3,1,2006-03-01 12:10:38,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'"
4,1,2006-03-08 21:16:04,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'"
...,...,...,...,...
3135265,521689,2006-05-05 01:09:28,nih.gov,'GOVT'
3135266,521689,2006-05-05 02:00:33,typepad.com,"'HOST', 'NEWS'"
3135267,521691,2006-03-04 11:36:38,go.com,'NEWS'
3135268,521691,2006-03-15 19:24:17,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH..."
3135269,521691,2006-04-01 18:45:41,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH..."

### Drop singletons

In [5]:
%%time
# Lists rows for RandID individuals with only one domain in their browsing history, to be dropped.
temp = aol_reduced_citizen_lab[['RandID','Domain']].groupby(['RandID']).nunique()
singletons = temp[temp['Domain'] == 1].index.to_list()
print(len(singletons))

130689
CPU times: user 778 ms, sys: 81.3 ms, total: 860 ms
Wall time: 858 ms

In [6]:
aol_reduced_citizen_lab = aol_reduced_citizen_lab[~aol_reduced_citizen_lab.RandID.isin(singletons)]

In [7]:
aol_reduced_citizen_lab = aol_reduced_citizen_lab.reset_index(drop=True)

In [8]:
display(aol_reduced_citizen_lab)

,RandID,QueryTime,Domain,topics
0,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
1,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
2,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
3,1,2006-03-01 12:10:38,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'"
4,1,2006-03-08 21:16:04,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'"
...,...,...,...,...
2871078,521689,2006-05-05 01:09:28,nih.gov,'GOVT'
2871079,521689,2006-05-05 02:00:33,typepad.com,"'HOST', 'NEWS'"
2871080,521691,2006-03-04 11:36:38,go.com,'NEWS'
2871081,521691,2006-03-15 19:24:17,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH..."
2871082,521691,2006-04-01 18:45:41,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH..."

### Drop outlier

In [9]:
%%time
# One individual has too many domains in their browsing history and is most probably a bot, to be dropped.
display(aol_reduced_citizen_lab['RandID'].value_counts())

RandID
463921    23505
311717     2516
352479     1379
118679     1167
342660     1011
          ...
317417        2
120680        2
448289        2
317341        2
193287        2
Name: count, Length: 211314, dtype: int64

CPU times: user 52.6 ms, sys: 8.21 ms, total: 60.8 ms
Wall time: 59.8 ms

In [10]:
aol_reduced_citizen_lab = aol_reduced_citizen_lab.drop(aol_reduced_citizen_lab[aol_reduced_citizen_lab['RandID'] == 463921].index.to_list())

In [11]:
aol_reduced_citizen_lab = aol_reduced_citizen_lab.reset_index(drop=True)

In [12]:
display(aol_reduced_citizen_lab)

,RandID,QueryTime,Domain,topics
0,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
1,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
2,1,2006-03-01 11:54:19,kidshealth.org,'PUBH'
3,1,2006-03-01 12:10:38,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'"
4,1,2006-03-08 21:16:04,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'"
...,...,...,...,...
2847573,521689,2006-05-05 01:09:28,nih.gov,'GOVT'
2847574,521689,2006-05-05 02:00:33,typepad.com,"'HOST', 'NEWS'"
2847575,521691,2006-03-04 11:36:38,go.com,'NEWS'
2847576,521691,2006-03-15 19:24:17,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH..."
2847577,521691,2006-04-01 18:45:41,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH..."

### Statistics

In [13]:
%%time
aol_reduced_citizen_lab.info(verbose=True, memory_usage='deep', show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2847578 entries, 0 to 2847577
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   RandID     2847578 non-null  int64
 1   QueryTime  2847578 non-null  datetime64[ns]
 2   Domain     2847578 non-null  object
 3   topics     2847578 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 471.9 MB
CPU times: user 1.13 s, sys: 5.95 ms, total: 1.14 s
Wall time: 1.13 s

Number of unique values per attribute.

In [14]:
display(aol_reduced_citizen_lab.nunique(dropna=False))

RandID        211313
QueryTime    1922950
Domain          4872
topics           217
dtype: int64

`RandID` statistics.

In [15]:
display(aol_reduced_citizen_lab['RandID'].value_counts().describe([.25,.50,.75,.80,.85,.90,.95,.96,.97,.98,.99]))

count    211313.000000
mean         13.475640
std          27.133604
min           2.000000
25%           3.000000
50%           6.000000
75%          13.000000
80%          17.000000
85%          21.000000
90%          29.000000
95%          47.000000
96%          53.000000
97%          64.000000
98%          80.000000
99%         116.000000
max        2516.000000
Name: count, dtype: float64

Number of `RandID`s per count of records, e.g. 1 `RandID` has 2516 records and 32488 `RandID`s have 2 records.

In [16]:
with pandas.option_context('display.max_rows', None):
    display(aol_reduced_citizen_lab['RandID'].value_counts().value_counts().sort_index(ascending=False).sort_index(ascending=False))

count
2516        1
1379        1
1167        1
1011        1
980         1
902         1
863         1
822         1
774         1
759         1
755         1
748         1
719         1
715         1
699         1
690         2
677         1
656         1
651         1
644         1
640         1
636         1
634         1
633         1
627         1
622         1
621         1
611         1
609         1
597         1
596         1
591         1
586         1
582         1
581         1
578         1
572         1
571         1
566         1
564         1
561         1
558         1
550         1
547         1
543         1
541         1
538         1
529         2
524         1
521         1
520         1
518         1
516         3
515         2
512         1
511         1
510         1
498         1
497         1
496         3
495         1
494         1
493         1
490         1
489         1
484         3
483         1
482         1
480         2
473         1
472         1
466         1
464         1
463         1
461         1
457         1
454         1
451         1
450         2
449         1
448         3
447         1
446         1
442         1
440         2
439         1
437         1
434         1
432         1
431         1
430         1
428         1
419         2
418         3
417         2
413         1
406         2
404         1
401         1
400         2
398         1
396         1
394         2
393         1
391         2
390         2
389         2
388         2
387         2
386         3
385         1
383         1
381         1
380         3
378         3
377         1
374         2
373         2
372         2
371         2
369         1
368         1
367         1
364         1
362         3
360         3
359         1
358         2
357         2
355         2
354         4
353         2
352         2
351         1
348         1
347         1
346         2
345         1
344         3
343         1
342         1
341         1
340         6
339         3
336         2
335         1
334         1
333         3
332         1
331         1
330         2
329         2
327         2
326         2
325         1
324         2
323         1
321         2
320         2
319         2
317         3
316         3
315         3
314         1
313         4
312         1
310         2
309         3
308         1
306         1
305         5
304         1
303         1
302         1
301         2
300         3
299         2
298         5
297         4
296         3
295         1
294         4
293         3
292         3
291         3
290         2
289         3
288         4
287         1
286         3
285         4
284         2
282         3
281         3
280         3
279         2
278         3
277         3
276         5
275         2
274         4
273         2
272         2
271         3
270         5
268         2
267         4
266         5
265         5
264         5
263         2
262         6
261         1
260         3
259         4
258         4
257         3
256         2
255         3
254         5
253         5
252         3
251         3
250         4
249         3
248         2
247         3
246         3
245         2
244         5
243         2
242         8
240         6
239         3
238         1
237         4
236         8
235         7
234         4
233         9
232         1
231         5
230         5
229         4
228         9
227         9
226         3
225         2
224         5
223        10
222         1
221         2
220         5
219         5
218         5
217         3
216         9
215         7
214         9
213         9
212         5
211         6
210         5
209         9
208        10
207         9
206         3
205         4
204         7
203         9
202         3
201         3
200         8
199        12
198         7
197         6
196         6
195         5
194         8
193        10
192         8
191         6
190        12
189        11
188         8
187        11
186         6
185        13
184        10
183         6
182         7
181         9
180         8
179         9
178        11
177        15
176         9
175         9
174        14
173        12
172        11
171        19
170        15
169         7
168        13
167        17
166        14
165        20
164        11
163        14
162        15
161        26
160        12
159        17
158        12
157        10
156         9
155        14
154        17
153        19
152        16
151        21
150        25
149        16
148        18
147        16
146        14
145        22
144        21
143        21
142        11
141        23
140        18
139        17
138        21
137        24
136        20
135        24
134        26
133        19
132        19
131        16
130        30
129        27
128        21
127        33
126        30
125        34
124        31
123        29
122        28
121        30
120        38
119        39
118        34
117        37
116        41
115        40
114        36
113        46
112        32
111        37
110        40
109        41
108        41
107        47
106        46
105        51
104        58
103        50
102        48
101        61
100        51
99         69
98         56
97         54
96         60
95         66
94         73
93         76
92         58
91         84
90         71
89         75
88         71
87         67
86         74
85         79
84         65
83         81
82         72
81         79
80         86
79        111
78        108
77         96
76        103
75        126
74         90
73        131
72        124
71        122
70        121
69        120
68        162
67        153
66        172
65        173
64        175
63        170
62        156
61        185
60        201
59        209
58        218
57        225
56        256
55        225
54        247
53        279
52        269
51        286
50        324
49        314
48        351
47        353
46        367
45        385
44        403
43        392
42        434
41        470
40        469
39        523
38        554
37        570
36        619
35        657
34        766
33        765
32        738
31        886
30        908
29       1021
28       1065
27       1148
26       1184
25       1380
24       1377
23       1562
22       1729
21       1875
20       1992
19       2212
18       2476
17       2724
16       2955
15       3424
14       3750
13       4304
12       4855
11       5513
10       6474
9        7609
8        8891
7       10752
6       13312
5       16594
4       20918
3       27198
2       32488
Name: count, dtype: int64

Date and time range.

In [17]:
display(aol_reduced_citizen_lab['QueryTime'].min())

Timestamp('2006-03-01 00:01:04')

In [18]:
display(aol_reduced_citizen_lab['QueryTime'].max())

Timestamp('2006-05-31 23:59:58')

Number of unique `Domain` values.

In [19]:
%%time
aol_reduced_citizen_lab_domains_counts = dict(Counter(aol_reduced_citizen_lab['Domain'].to_list()))
display(len(aol_reduced_citizen_lab_domains_counts))

4872

CPU times: user 184 ms, sys: 3.22 ms, total: 188 ms
Wall time: 185 ms

Top `Domain` values by number of records.

In [20]:
top = 100
with pandas.option_context('display.max_rows', top, 'display.min_rows', top):
    display(pandas.Series(aol_reduced_citizen_lab_domains_counts).sort_values(ascending=False).head(top))

yahoo.com                 386719
google.com                332319
myspace.com               203992
ebay.com                  149904
wikipedia.org             120136
amazon.com                101643
imdb.com                   99581
msn.com                    97027
go.com                     76901
craigslist.org             60366
aol.com                    58108
nih.gov                    46997
bankofamerica.com          42151
ask.com                    36234
tripod.com                 30720
azlyrics.com               22912
microsoft.com              22484
cnn.com                    21744
walmart.com                20942
angelfire.com              20459
nytimes.com                19314
pogo.com                   15549
bbc.co.uk                  15043
gamespot.com               13783
wellsfargo.com             13557
ign.com                    13354
army.mil                   12658
nbc.com                    12651
reference.com              11470
xanga.com                  11195
sapo.pt                    10625
ivillage.com               10597
alibaba.com                10082
flickr.com                  9952
thefreedictionary.com       9675
infoplease.com              9511
whitepages.com              9250
typepad.com                 9097
medicinenet.com             8922
apple.com                   8846
mtv.com                     8422
cdc.gov                     8396
rottentomatoes.com          7941
usatoday.com                7861
runescape.com               7836
barnesandnoble.com          7525
washingtonpost.com          7492
facebook.com                7106
kidshealth.org              7085
youtube.com                 6672
utexas.edu                  6605
harvard.edu                 6584
navy.mil                    6364
playboy.com                 6273
state.gov                   6221
chase.com                   6126
blackplanet.com             6093
columbia.edu                6082
adultfriendfinder.com       5975
foxnews.com                 5825
usda.gov                    5771
virginia.edu                5745
nasa.gov                    5656
worldsex.com                5641
state.il.us                 5489
stanford.edu                5474
cnet.com                    5411
89.com                      5077
ebaumsworld.com             5069
nydailynews.com             4983
drudgereport.com            4894
photobucket.com             4883
purdue.edu                  4829
cbsnews.com                 4639
umn.edu                     4592
dogpile.com                 4571
match.com                   4478
hp.com                      4445
af.mil                      4429
nationalgeographic.com      4285
univision.com               4253
artistdirect.com            4197
penisbot.com                4193
loc.gov                     4138
whitehouse.gov              4064
upenn.edu                   4021
cia.gov                     4004
pinkworld.com               3820
victoriassecret.com         3767
forbes.com                  3674
literotica.com              3545
bestbuy.com                 3467
last.fm                     3441
lycos.com                   3407
mp3.com                     3397
livejournal.com             3394
cars.com                    3355
ikea.com                    3319
youngerbabes.com            3249
epa.gov                     3199
dtype: int64

### Define browsing histories and lists of topics

In [21]:
%%time
aol_reduced_citizen_lab['BrowsingHistory'] = list(zip(aol_reduced_citizen_lab.Domain, aol_reduced_citizen_lab.QueryTime))

CPU times: user 8.42 s, sys: 309 ms, total: 8.73 s
Wall time: 8.71 s

In [22]:
display(aol_reduced_citizen_lab)

,RandID,QueryTime,Domain,topics,BrowsingHistory
0,1,2006-03-01 11:54:19,kidshealth.org,'PUBH',"(kidshealth.org, 2006-03-01 11:54:19)"
1,1,2006-03-01 11:54:19,kidshealth.org,'PUBH',"(kidshealth.org, 2006-03-01 11:54:19)"
2,1,2006-03-01 11:54:19,kidshealth.org,'PUBH',"(kidshealth.org, 2006-03-01 11:54:19)"
3,1,2006-03-01 12:10:38,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'","(harvard.edu, 2006-03-01 12:10:38)"
4,1,2006-03-08 21:16:04,harvard.edu,"'NEWS', 'CTRL', 'HUMR', 'PUBH'","(harvard.edu, 2006-03-08 21:16:04)"
...,...,...,...,...,...
2847573,521689,2006-05-05 01:09:28,nih.gov,'GOVT',"(nih.gov, 2006-05-05 01:09:28)"
2847574,521689,2006-05-05 02:00:33,typepad.com,"'HOST', 'NEWS'","(typepad.com, 2006-05-05 02:00:33)"
2847575,521691,2006-03-04 11:36:38,go.com,'NEWS',"(go.com, 2006-03-04 11:36:38)"
2847576,521691,2006-03-15 19:24:17,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH...","(google.com, 2006-03-15 19:24:17)"
2847577,521691,2006-04-01 18:45:41,google.com,"'COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRCH...","(google.com, 2006-04-01 18:45:41)"

In [23]:
%%time
aol_reduced_citizen_lab['topics'] = aol_reduced_citizen_lab['topics'].map(lambda x : x.replace(" ", "").split(","))

CPU times: user 4.93 s, sys: 601 ms, total: 5.53 s
Wall time: 5.51 s

In [24]:
display(aol_reduced_citizen_lab)

,RandID,QueryTime,Domain,topics,BrowsingHistory
0,1,2006-03-01 11:54:19,kidshealth.org,['PUBH'],"(kidshealth.org, 2006-03-01 11:54:19)"
1,1,2006-03-01 11:54:19,kidshealth.org,['PUBH'],"(kidshealth.org, 2006-03-01 11:54:19)"
2,1,2006-03-01 11:54:19,kidshealth.org,['PUBH'],"(kidshealth.org, 2006-03-01 11:54:19)"
3,1,2006-03-01 12:10:38,harvard.edu,"['NEWS', 'CTRL', 'HUMR', 'PUBH']","(harvard.edu, 2006-03-01 12:10:38)"
4,1,2006-03-08 21:16:04,harvard.edu,"['NEWS', 'CTRL', 'HUMR', 'PUBH']","(harvard.edu, 2006-03-08 21:16:04)"
...,...,...,...,...,...
2847573,521689,2006-05-05 01:09:28,nih.gov,['GOVT'],"(nih.gov, 2006-05-05 01:09:28)"
2847574,521689,2006-05-05 02:00:33,typepad.com,"['HOST', 'NEWS']","(typepad.com, 2006-05-05 02:00:33)"
2847575,521691,2006-03-04 11:36:38,go.com,['NEWS'],"(go.com, 2006-03-04 11:36:38)"
2847576,521691,2006-03-15 19:24:17,google.com,"['COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRC...","(google.com, 2006-03-15 19:24:17)"
2847577,521691,2006-04-01 18:45:41,google.com,"['COMT', 'MMED', 'CTRL', 'CULTR', 'NEWS', 'SRC...","(google.com, 2006-04-01 18:45:41)"

In [25]:
%%time
aol_reduced_citizen_lab_generalization = aol_reduced_citizen_lab[['RandID','BrowsingHistory','topics']].groupby('RandID', sort=False)[['BrowsingHistory','topics']].agg(lambda x : list(x)).reset_index()

CPU times: user 15.6 s, sys: 183 ms, total: 15.8 s
Wall time: 15.8 s

In [26]:
display(aol_reduced_citizen_lab_generalization)

,RandID,BrowsingHistory,topics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","[['PUBH'], ['PUBH'], ['PUBH'], ['NEWS', 'CTRL'..."
1,3,"[(dogpile.com, 2006-03-12 16:09:37), (dogpile....","[['SRCH'], ['SRCH'], ['HOST', 'NEWS'], ['PUBH'..."
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","[['NEWS', 'REL'], ['COMT', 'MMED', 'CTRL', 'CU..."
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (senate.g...","[['NEWS', 'REL'], ['GOVT'], ['SRCH', 'POLR', '..."
4,6,"[(technorati.com, 2006-03-03 20:48:41), (googl...","[['HOST'], ['COMT', 'MMED', 'CTRL', 'CULTR', '..."
...,...,...,...
211308,521674,"[(yahoo.com, 2006-03-06 10:04:29), (yahoo.com,...","[['COMT', 'CULTR', 'COMM', 'NEWS', 'POLR', 'SR..."
211309,521686,"[(flickr.com, 2006-03-12 21:19:11), (partypoke...","[['LGBT', 'MMED'], ['GMB'], ['HOST', 'GRP', 'C..."
211310,521688,"[(ytmnd.com, 2006-03-12 20:00:14), (aol.com, 2...","[['REL'], ['SRCH', 'POLR', 'HUMR', 'REL'], ['C..."
211311,521689,"[(globalwitness.org, 2006-03-04 01:04:05), (ms...","[['ENV', 'POLR'], ['NEWS', 'SRCH', 'GRP', 'COM..."
211312,521691,"[(go.com, 2006-03-04 11:36:38), (google.com, 2...","[['NEWS'], ['COMT', 'MMED', 'CTRL', 'CULTR', '..."

In [27]:
%%time
aol_reduced_citizen_lab_generalization['topics'] = aol_reduced_citizen_lab_generalization['topics'].map(lambda x : [topic for t in x for topic in t])

CPU times: user 1.27 s, sys: 8.07 ms, total: 1.28 s
Wall time: 1.28 s

In [28]:
display(aol_reduced_citizen_lab_generalization)

,RandID,BrowsingHistory,topics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","['PUBH', 'PUBH', 'PUBH', 'NEWS', 'CTRL', 'HUMR..."
1,3,"[(dogpile.com, 2006-03-12 16:09:37), (dogpile....","['SRCH', 'SRCH', 'HOST', 'NEWS', 'PUBH', 'COMT..."
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","['NEWS', 'REL', 'COMT', 'MMED', 'CTRL', 'CULTR..."
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (senate.g...","['NEWS', 'REL', 'GOVT', 'SRCH', 'POLR', 'HUMR'..."
4,6,"[(technorati.com, 2006-03-03 20:48:41), (googl...","['HOST', 'COMT', 'MMED', 'CTRL', 'CULTR', 'NEW..."
...,...,...,...
211308,521674,"[(yahoo.com, 2006-03-06 10:04:29), (yahoo.com,...","['COMT', 'CULTR', 'COMM', 'NEWS', 'POLR', 'SRC..."
211309,521686,"[(flickr.com, 2006-03-12 21:19:11), (partypoke...","['LGBT', 'MMED', 'GMB', 'HOST', 'GRP', 'CULTR'..."
211310,521688,"[(ytmnd.com, 2006-03-12 20:00:14), (aol.com, 2...","['REL', 'SRCH', 'POLR', 'HUMR', 'REL', 'COMM']"
211311,521689,"[(globalwitness.org, 2006-03-04 01:04:05), (ms...","['ENV', 'POLR', 'NEWS', 'SRCH', 'GRP', 'COMT',..."
211312,521691,"[(go.com, 2006-03-04 11:36:38), (google.com, 2...","['NEWS', 'COMT', 'MMED', 'CTRL', 'CULTR', 'NEW..."

In [29]:
aol_reduced_citizen_lab_generalization = aol_reduced_citizen_lab_generalization.rename(columns={'topics' : 'AllTopics'})

In [30]:
%%time
# Computes the number of unique seen topics.
aol_reduced_citizen_lab_seen_topics = sorted(list(set([x for y in aol_reduced_citizen_lab_generalization['AllTopics'] for x in y])))
display(len(aol_reduced_citizen_lab_seen_topics))

31

CPU times: user 1.09 s, sys: 43.6 ms, total: 1.13 s
Wall time: 1.13 s

In [31]:
%%time
aol_reduced_citizen_lab_generalization['sTopics'] = aol_reduced_citizen_lab_generalization['AllTopics'].map(lambda x : dict(Counter(x)))

CPU times: user 1.49 s, sys: 24.4 ms, total: 1.51 s
Wall time: 1.51 s

In [32]:
display(aol_reduced_citizen_lab_generalization)

,RandID,BrowsingHistory,AllTopics,sTopics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","['PUBH', 'PUBH', 'PUBH', 'NEWS', 'CTRL', 'HUMR...","{''PUBH'': 6, ''NEWS'': 4, ''CTRL'': 3, ''HUMR..."
1,3,"[(dogpile.com, 2006-03-12 16:09:37), (dogpile....","['SRCH', 'SRCH', 'HOST', 'NEWS', 'PUBH', 'COMT...","{''SRCH'': 8, ''HOST'': 5, ''NEWS'': 6, ''PUBH..."
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","['NEWS', 'REL', 'COMT', 'MMED', 'CTRL', 'CULTR...","{''NEWS'': 2, ''REL'': 2, ''COMT'': 1, ''MMED'..."
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (senate.g...","['NEWS', 'REL', 'GOVT', 'SRCH', 'POLR', 'HUMR'...","{''NEWS'': 1, ''REL'': 2, ''GOVT'': 3, ''SRCH'..."
4,6,"[(technorati.com, 2006-03-03 20:48:41), (googl...","['HOST', 'COMT', 'MMED', 'CTRL', 'CULTR', 'NEW...","{''HOST'': 11, ''COMT'': 19, ''MMED'': 10, ''C..."
...,...,...,...,...
211308,521674,"[(yahoo.com, 2006-03-06 10:04:29), (yahoo.com,...","['COMT', 'CULTR', 'COMM', 'NEWS', 'POLR', 'SRC...","{''COMT'': 7, ''CULTR'': 4, ''COMM'': 7, ''NEW..."
211309,521686,"[(flickr.com, 2006-03-12 21:19:11), (partypoke...","['LGBT', 'MMED', 'GMB', 'HOST', 'GRP', 'CULTR'...","{''LGBT'': 3, ''MMED'': 2, ''GMB'': 1, ''HOST'..."
211310,521688,"[(ytmnd.com, 2006-03-12 20:00:14), (aol.com, 2...","['REL', 'SRCH', 'POLR', 'HUMR', 'REL', 'COMM']","{''REL'': 2, ''SRCH'': 1, ''POLR'': 1, ''HUMR'..."
211311,521689,"[(globalwitness.org, 2006-03-04 01:04:05), (ms...","['ENV', 'POLR', 'NEWS', 'SRCH', 'GRP', 'COMT',...","{''ENV'': 6, ''POLR'': 6, ''NEWS'': 12, ''SRCH..."
211312,521691,"[(go.com, 2006-03-04 11:36:38), (google.com, 2...","['NEWS', 'COMT', 'MMED', 'CTRL', 'CULTR', 'NEW...","{''NEWS'': 3, ''COMT'': 2, ''MMED'': 2, ''CTRL..."

In [33]:
def s_top(topics, s, allTopics):
    # If RandID's AllTopics list has exactly S topics, this is already their sTopics list.
    if len(topics) == s:
        top_s = list(topics.keys())
    # If RandID's AllTopics list has less than S topics, selects the remaining topics at random from the taxonomy.
    elif len(topics) < s:
        top_s = list(topics.keys())
        top_s.extend(random.sample(list(set(allTopics) - set(top_s)), k=s-len(top_s)))
    # If RandID's AllTopics list has more than S topics, selects only S of them, in decreasing order of occurrence.
    elif len(topics) > s:
        # Creates a temporary copy of RandID's AllTopics list (here a dictionary mapping topic to count).
        temp = topics.copy()
        # Creates the sTopics list with RandID's most seen topic and deletes it from temporary list.
        top_s = [max(temp, key=temp.get)]
        val = temp[top_s[0]]
        del temp[top_s[0]]
        # Creates a temporary list, alternatives, to account for topics with the same number of occurrences.
        v = temp[max(temp, key=temp.get)]
        alternatives = [top_s[0]]
        # While the sTopics list has less than S topics OR the next topic has the same number of occurrences.
        while len(top_s) < s or v == val:
            t = max(temp, key=temp.get)
            # If the current topic has the same number of occurrences as the previous one,
            # append it to alternatives.
            if v == val:
                alternatives.append(t)
            # Otherwise, clear alternatives and append the current topic to it.
            else:
                alternatives.clear()
                alternatives.append(t)
            top_s.append(t)
            val = v
            del temp[t]
            # If the temporary list is empty, break the loop.
            if len(temp) == 0:
                break
            else:
                v = temp[max(temp, key=temp.get)]
        # If the sTopics list has more than S topics, randomly selects the appropriate number of topics
        # from alternatives, i.e. from the topics with the same number of occurrences.
        if len(top_s) > s:
            delta = s - (len(top_s) - len(alternatives))
            top_s = top_s[0:s-delta]
            top_s.extend(random.sample(alternatives, k=delta))
    
    return sorted(top_s)

In [34]:
%%time
# Selects S topics to be in sTopics list for each RandID.
random.SystemRandom()
S = 5
aol_reduced_citizen_lab_generalization['sTopics'] = aol_reduced_citizen_lab_generalization['sTopics'].map(lambda x : s_top(x, S, aol_reduced_citizen_lab_seen_topics))

CPU times: user 5.01 s, sys: 20 ms, total: 5.03 s
Wall time: 5.03 s

In [35]:
display(aol_reduced_citizen_lab_generalization)

,RandID,BrowsingHistory,AllTopics,sTopics
0,1,"[(kidshealth.org, 2006-03-01 11:54:19), (kidsh...","['PUBH', 'PUBH', 'PUBH', 'NEWS', 'CTRL', 'HUMR...","['COMM', 'CTRL', 'HUMR', 'NEWS', 'PUBH']"
1,3,"[(dogpile.com, 2006-03-12 16:09:37), (dogpile....","['SRCH', 'SRCH', 'HOST', 'NEWS', 'PUBH', 'COMT...","['COMT', 'HOST', 'NEWS', 'PUBH', 'SRCH']"
2,4,"[(foxnews.com, 2006-03-12 20:33:21), (google.c...","['NEWS', 'REL', 'COMT', 'MMED', 'CTRL', 'CULTR...","['ENV', 'LGBT', 'NEWS', 'REL', 'SRCH']"
3,5,"[(foxnews.com, 2006-03-22 00:22:53), (senate.g...","['NEWS', 'REL', 'GOVT', 'SRCH', 'POLR', 'HUMR'...","['GOVT', 'HUMR', 'NEWS', 'POLR', 'REL']"
4,6,"[(technorati.com, 2006-03-03 20:48:41), (googl...","['HOST', 'COMT', 'MMED', 'CTRL', 'CULTR', 'NEW...","['COMT', 'CULTR', 'GOVT', 'NEWS', 'POLR']"
...,...,...,...,...
211308,521674,"[(yahoo.com, 2006-03-06 10:04:29), (yahoo.com,...","['COMT', 'CULTR', 'COMM', 'NEWS', 'POLR', 'SRC...","['COMM', 'COMT', 'GOVT', 'NEWS', 'SRCH']"
211309,521686,"[(flickr.com, 2006-03-12 21:19:11), (partypoke...","['LGBT', 'MMED', 'GMB', 'HOST', 'GRP', 'CULTR'...","['CULTR', 'GOVT', 'HOST', 'LGBT', 'NEWS']"
211310,521688,"[(ytmnd.com, 2006-03-12 20:00:14), (aol.com, 2...","['REL', 'SRCH', 'POLR', 'HUMR', 'REL', 'COMM']","['COMM', 'HUMR', 'POLR', 'REL', 'SRCH']"
211311,521689,"[(globalwitness.org, 2006-03-04 01:04:05), (ms...","['ENV', 'POLR', 'NEWS', 'SRCH', 'GRP', 'COMT',...","['COMT', 'CTRL', 'GOVT', 'GRP', 'NEWS']"
211312,521691,"[(go.com, 2006-03-04 11:36:38), (google.com, 2...","['NEWS', 'COMT', 'MMED', 'CTRL', 'CULTR', 'NEW...","['CULTR', 'DATE', 'FILE', 'MMED', 'NEWS']"

In [36]:
# Checks if every sTopics list has exactly S topics.
display(aol_reduced_citizen_lab_generalization['sTopics'].map(lambda x : True if len(x) == S else False).all())

True

### Save to file

In [37]:
aol_reduced_citizen_lab_generalization.to_csv('AOL-experimental-Citizen-Lab-Classification.csv')